<form class="form-inline">
    <div>
        <div class="form-group form-group-sm">
            <soe-multiselect label-key="common.dashboard.attestflow.supplier" options="ctrl.suppliersDict" model="ctrl.selectedSuppliersDict" hidelabel="true" on-selection-complete="ctrl.supplierSelectionComplete()"></soe-multiselect>
        </div>
        <div class="form-group form-group-sm">
            <soe-label label-key="billing.purchase.product.supplieritemno"></soe-label>
        </div>
        <div class="form-group form-group-sm">
            <soe-textbox hide-label="true" model="ctrl.supplierProductNr"></soe-textbox>
        </div>
        <div class="form-group form-group-sm">
            <soe-label label-key="billing.purchase.product.supplieritemname"></soe-label>
        </div>
        <div class="form-group form-group-sm">
            <soe-textbox hide-label="true" model="ctrl.supplierProductName"></soe-textbox>
        </div>
        <div class="form-group form-group-sm">
            <soe-label label-key="billing.product.number"></soe-label>
        </div>
        <div class="form-group form-group-sm">
            <soe-textbox hide-label="true" model="ctrl.productNr"></soe-textbox>
        </div>
        <div class="form-group form-group-sm">
            <soe-label label-key="common.customer.invoices.articlename"></soe-label>
        </div>
        <div class="form-group form-group-sm">
            <soe-textbox hide-label="true" model="ctrl.productName"></soe-textbox>
        </div>
        <div class="form-group form-group-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-sm ngSoeMainButton"
                        data-l10n-bind="'core.search'" data-l10n-bind-title="'core.search'" data-ng-click="$event.stopPropagation();ctrl.loadGridData()"></button>
            </div>
        </div>
    </div>
</form>