<form
  [formGroup]="form"
  class="soe-edit-form p-0"
  novalidate
  autocomplete="off">
  <div class="row">
    <div class="my-2">
      <div class="float-end">
        <soe-select
          [labelKey]="''"
          [inline]="true"
          [width]="250"
          [items]="filteredVoucherSeriesTypes.value || []"
          [optionIdField]="'voucherSeriesTypeId'"
          [optionNameField]="'name'"
          formControlName="voucherSeriesTypes">
          <soe-icon-button
            [iconName]="'plus'"
            [iconClass]="'border-radius-right'"
            [tooltip]="'core.newrow'"
            [noBorder]="false"
            (action)="addVoucherSeries()"></soe-icon-button>
        </soe-select>
      </div>
    </div>
  </div>

  @if (flowHandler.allowFetchGrid()) {
    <soe-grid-wrapper
      [rows]="rows"
      [height]="350"
      [noMargin]="true"
      (editRowClicked)="edit($event)"
      [parentGuid]="guid()">
    </soe-grid-wrapper>
  }
</form>
