/*** Reg Feed ***/
#FeedReader {
    float: left;
    width: 600px;
}

#RegFeed {
    width: 590px;
    padding: 10px 5px 10px 5px;
    background-color: #f8f8f8;
    border: 1px solid var(--soe-border-color);
}

#SaveFeedUrl {
    padding: 2px 0 2px 0;
}

#RegFeedHeader {
    font-size: 14px;
}

    #RegFeedHeader a {
        color: #004E98;
        text-decoration: none;
    }

#ShowUserFeeds {
    float: left;
    margin: 0 0 0 10px;
    background-color: #f8f8f8;
    border: 1px solid var(--soe-border-color);
}

    #ShowUserFeeds ul {
        margin: 3px;
    }

    #ShowUserFeeds a {
        padding: 0 5px 0 3px;
        font-size: 11px;
        font-weight: lighter;
        color: var(--soe-text-color);
        text-decoration: none;
        vertical-align: top;
    }

        #ShowUserFeeds a:hover {
            text-decoration: underline;
        }

    #ShowUserFeeds input.image, input[type=image] {
        vertical-align: top;
    }

/*** Channel ***/

#ChannelHeader {
    margin: 10px 5px 10px 10px;
    font-size: 14px;
    font-weight: bold;
}

    #ChannelHeader img {
        vertical-align: middle;
        margin-right: 5px;
    }

    #ChannelHeader a {
        padding-left: 10px;
        font-size: 11px;
        font-weight: lighter;
        color: var(--soe-text-color);
        text-decoration: none;
    }

/*** Rss ***/

#rssItem {
    clear: right;
    width: 600px;
    margin: 0 0 5px 0;
    background-color: #f8f8f8;
    border-left: solid 1px var(--soe-border-color);
    border-right: solid 1px var(--soe-border-color);
}

    /*** Header ***/
    #rssItem .header {
        float: left;
        display: block;
        background-color: var(--soe-background-color);
        border-top: solid 1px var(--soe-border-color);
        border-bottom: solid 1px var(--soe-border-color);
    }

    #rssItem .title {
        float: left;
        width: 470px;
        padding: 5px 0 5px 5px;
    }

        #rssItem .title a {
            font-size: 11px;
            color: black;
            text-decoration: none;
        }

    #rssItem .pubDate {
        float: right;
        padding: 5px 5px 5px 0;
        font-size: 11px;
    }

        #rssItem .pubDate a {
            text-decoration: none;
        }

    /*** Body ***/
    #rssItem .description {
        float: left;
        width: 585px;
        min-height: 30px;
        padding: 3px 5px 5px 10px;
        background-color: var(--soe-background-color);
    }

        #rssItem .description ul {
            margin-left: 20px; /** Bugfix for lists **/
        }

    /*** Footer ***/
    #rssItem .footer {
        width: 600px;
        float: left;
        display: block;
        background-color: var(--soe-background-color);
        border-top: solid 1px var(--soe-border-color);
        border-bottom: solid 1px var(--soe-border-color);
    }

    #rssItem .attachment {
        float: left;
        width: auto;
        padding: 2px 0 2px 10px;
    }

        #rssItem .attachment a {
            float: left;
            text-decoration: none;
        }

        #rssItem .attachment img {
            vertical-align: middle;
        }

    #rssItem .info {
        float: right;
        padding: 2px 10px 2px 0;
    }

        #rssItem .info span {
            font-size: 11px;
            font-weight: lighter;
            color: var(--soe-text-color);
        }

        #rssItem .info a {
            text-decoration: none;
        }
