@use '../../../../../../shared/styles/core-styles/colors.scss';
@use '../../schedule-planning/schedule-planning-common.scss';
@use '../sp-right-content.component.scss';

.time-cost-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .time-cost-label {
    text-align: left;
  }

  .time-cost-value {
    text-align: right;
  }
}
