<br />
<div class="ngSoeFormFooter">
    <div class="row pull-right margin-small-bottom">
        <div class="col-sm-12">
            <div class="col">
                <soe-textbox class="pull-right margin-small-right" label-key="economy.accounting.vouchersearch.debet" model="ctrl.totalDebit" numeric="true" decimals="2" readonly="true"></soe-textbox>
            </div>
            <div class="col">
                <soe-textbox class="pull-right margin-small-right" label-key="economy.accounting.vouchersearch.credit" model="ctrl.totalCredit" numeric="true" decimals="2" readonly="true"></soe-textbox>
            </div>
            <div class="col">
                <soe-textbox class="pull-right margin-small-right" label-key="economy.accounting.vouchersearch.balance" model="ctrl.totalBalance" numeric="true" decimals="2" readonly="true"></soe-textbox>
            </div>
        </div>
    </div>

    <div class="row margin-small-top">
        <div class="col-sm-12">
            <button type="button" class="pull-right margin-small-right btn ngSoeMainButton btn-sm" data-l10n-bind="'core.close'" ng-click="ctrl.closeModal()" ng-if="ctrl.isModal"></button>
        </div>
    </div>

</div>
