<div>
    <soe-panel label-key="time.employee.payrollgroup.payrollproduct" condensed="true">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th scope="col" data-l10n-bind="'common.name'"></th>
                    <th scope="col" data-l10n-bind="'time.payrollgroup.payrollproduct.distribute'"></th>                    
                    <th scope="col" class="table-header-button" style="width: 150px;" colspan="3" data-ng-if="!ctrl.readOnly">
                        <span data-l10n-bind data-l10n-bind-title="'time.employee.payrollgroup.payrollproduct.new'" data-ng-click="ctrl.editPayrollProduct(null);"><i class="fal fa-plus"></i><span data-l10n-bind="'time.employee.payrollgroup.payrollproduct.new'"></span></span>
                    </th>
                </tr>
            </thead>
            <tbody data-ng-repeat="payrollProduct in ctrl.payrollGroupPayrollProducts | orderBy:'productName'">
                <tr>
                    <td><span>{{payrollProduct.productName}}</span></td>                    
                    <td><i class="fal fa-check-square" data-ng-if="payrollProduct.distribute"></i></td>                    
                    <td style="width: 94px">
                    <td style="width: 28px"><span data-l10n-bind data-l10n-bind-title="'core.edit'"><i class="fal fa-pencil iconEdit link" data-ng-if="!ctrl.readOnly" data-ng-click="ctrl.editPayrollProduct(payrollProduct);"></i></span></td>
                    <td style="width: 28px"><span data-l10n-bind data-l10n-bind-title="'core.delete'"><i class="fal fa-times iconDelete link" data-ng-if="!ctrl.readOnly" data-ng-click="ctrl.deletePayrollProduct(payrollProduct);"></i></span></td>
                </tr>
            </tbody>
        </table>
    </soe-panel>
</div>
