
.no-image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    fa-icon {
        font-size: 128px;
    }

    div {
        font-size: 24px;
        text-align: center;
    }
}