.grid-mode {
  input,
  input:hover,
  input:focus {
    border: none !important;
  }
}

.no-radius-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-radius-right > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.no-margins {
  margin-top: 0px !important;
}
