@use '../../../../../../shared/styles/core-styles/colors.scss';

.row-top-margin {
  margin-top: 10px;
}
.info {
  background-color: colors.$soe-color-semantic-information-20;
  border: 1px solid colors.$soe-color-semantic-information;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  font-size: 12px;
}
