<?xml version="1.0" encoding="utf-8" ?>
<log4net >
  <logger name="SoftOne.Soe.Logging">
    <level value="INFO"/>
  </logger>
  <root>
    <level value="INFO"/>
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="ADONetAppender" />
  </root>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
    </layout>
  </appender>
  <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
    <bufferSize value="0" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <commandText value="INSERT INTO SysLog ([LicenseId],[ActorCompanyId],[RoleId],[UserId],[Date],[Thread],[Level],[Logger],[LogClass],[Message],[Exception],[LineNumber],[Source],[TargetSite],[RequestUri],[ReferUri],[Form],[Application],[Session],[HostName],[IpNr]) 
                        VALUES (@licenseId,@actorCompanyId,@roleId,@userId,@date,@thread,@level,@logger,@logClass,@message,@exception,@lineNumber,@source,@targetSite,@requestUri,@referUri,@form,@application,@session,@hostname,@ipnr)" />
    <parameter>
      <parameterName value="@licenseId" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{licenseId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@actorCompanyId" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{actorCompanyId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@roleId" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{roleId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@userId" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{userId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@level" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logClass" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%L:%C" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@lineNumber" />
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{lineNumber}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@source" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{source}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@targetSite" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{targetSite}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@requestUri" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{requestUri}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@referUri" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{referUri}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@form" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{form}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@application" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{application}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@session" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{session}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@hostname" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{hostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ipnr" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{ipNr}" />
      </layout>
    </parameter>
  </appender>
</log4net>

