.btn-group.float-start {
  margin-right: 0.5rem;
}

.btn-group.float-end {
  margin-left: 0.5rem;
}

.btn-group > ::ng-deep soe-toolbar-button:not(:last-child) > .btn,
.btn-group > ::ng-deep soe-toolbar-menu-button:not(:last-child) .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > ::ng-deep soe-toolbar-button:not(:first-child) > .btn,
.btn-group > ::ng-deep soe-toolbar-menu-button:not(:first-child) .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
