<form name="ctrl.ratio" class="ngSoeForm" novalidate autocomplete="off">
    <div class="row">
        <div class="col-sm-12">
            <div id="infoContainer" class="info">
                <div><span class="indiscreet">{{ctrl.chartInfoRow1}}</span></div>
                <div><span>{{ctrl.chartInfoRow2}}</span></div>
            </div>
        </div>
    </div>
    <div class="row margin-large-top">
        <div class=" col-sm-12">
            <div id="employmentTypeChart" style="display: inline-block;" class="content-border-no-radius margin-small-right margin-large-bottom"></div>
            <div id="workPercentageChart" style="display: inline-block;" class="content-border-no-radius margin-small-right margin-large-bottom"></div>
            <div id="workTimeWeekChart" style="display: inline-block;" class="content-border-no-radius margin-small-right margin-large-bottom"></div>
            <div id="genderChart" style="display: inline-block;" class="content-border-no-radius margin-small-right margin-large-bottom" data-ng-show="ctrl.genderData.length > 0"></div>
            <div id="genderAgeChart" style="display: inline-block;" class="content-border-no-radius margin-small-right margin-large-bottom" data-ng-show="ctrl.genderAgeData.length > 0"></div>
        </div>
    </div>
</form>