Soe.Angular/**/*.js
Soe.Angular/**/*.js.map
Soe.Angular/**/*.css

Soe.Angular/bin
Soe.Angular/bower_components
Soe.Angular/node_modules
Soe.Angular/build
Soe.Angular/dist
Soe.Angular/lib

bin/
obj/
packages/

.vs/

*.csproj.user

Soe.Web/ClientBin