<div class="ngSoeForm form-group form-group-sm">
    <soe-progressbar is-busy="ctrl.progressBusy" message="ctrl.progressMessage"></soe-progressbar>
    <soe-toolbar buttons="ctrl.toolbar.buttonGroups"></soe-toolbar>
    <div class="margin-small-top margin-large-bottom">
        <div class="row">
            <div class="col-sm-2">
                <soe-label label-key="economy.supplier.supplier.supplier"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label label-key="common.orgnr"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label label-key="economy.supplier.supplier.blockpayment"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label label-key="common.currency"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label label-key="economy.accounting.paymentcondition.paymentcondition"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label label-key="economy.supplier.supplier.ourreference"></soe-label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <span class="spanClickable" data-ng-click="ctrl.openSupplier();">{{ctrl.supplierNumber}}&nbsp;{{ctrl.supplierName}}</span>
            </div>

            <div class="col-sm-2">
                <span>{{ctrl.supplier.orgNr}}</span>
            </div>
            <div class="col-sm-2">
                <span>{{ctrl.supplier.blockPaymentString}}</span>
            </div>
            <div class="col-sm-2">
                <span>{{ctrl.supplier.currencyName}}</span>
            </div>
            <div class="col-sm-2">
                <span>{{ctrl.supplier.paymentConditionName}}</span>
            </div>
            <div class="col-sm-2">
                <span>{{ctrl.supplier.ourReference}}</span>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.supplier.note" class="info margin-small-top margin-large-bottom">
        <span>{{ctrl.supplier.note}}</span>
    </div>
    <uib-accordion class="" close-others="false">
        <soe-accordion hidelabel="true" label-key="economy.supplier.suppliercentral.totals" is-open="false">
            <div class="info margin-small-top">
                <div class="row margin-small-top">
                    <div class="col-sm-2">
                        <soe-label></soe-label>
                    </div>
                    <div class="col-sm-2">
                        <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.unpaiedinvoices"></soe-label>
                    </div>
                    <div class="col-sm-2">
                        <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.overdueinvoices"></soe-label>
                    </div>
                    <div class="col-sm-2">
                        <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.paiedinvoices"></soe-label>
                    </div>
                    <div class="col-sm-2">
                        <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.totalinvoice"></soe-label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-label label-key="economy.supplier.suppliercentral.incvat"></soe-label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralUnpayed | amount}}</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierInvoicesOverdue | amount}}</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralPayed | amount}}</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierInvoicesAmountTotal | amount}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-label label-key="economy.supplier.suppliercentral.exvat"></soe-label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralUnpayedExVat | amount}}</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierInvoicesOverdueExVat | amount}}</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralPayedExVat | amount}}</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right discreet">{{ctrl.supplierInvoicesAmountTotalExVat | amount}}</label>
                    </div>
                </div>
                <div class="margin-small-top" data-ng-show="ctrl.supplierInvoiceStatusForeignPermission">
                    <div class="row">
                        <div class="col-sm-2">
                            <soe-label></soe-label>
                        </div>
                        <div class="col-sm-2">
                            <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.unpaiedinvoicescurrency"></soe-label>
                        </div>
                        <div class="col-sm-2">
                            <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.overdueinvoicescurrency"></soe-label>
                        </div>
                        <div class="col-sm-2">
                            <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.paiedinvoicescurrency"></soe-label>
                        </div>
                        <div class="col-sm-2">
                            <soe-label class="pull-right" label-key="economy.supplier.suppliercentral.totalinvoicecurrency"></soe-label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <soe-label label-key="economy.supplier.suppliercentral.incvat"></soe-label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralUnpayedForeign | amount}}</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierInvoicesOverdueForeign | amount}}</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralPayedForeign | amount}}</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierInvoicesForeignAmountTotal | amount}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <soe-label label-key="economy.supplier.suppliercentral.exvat"></soe-label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralUnpayedForeignExVat | amount}}</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierInvoicesOverdueForeignExVat | amount}}</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierPaymentsSupplierCentralPayedForeignExVat | amount}}</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="pull-right discreet">{{ctrl.supplierInvoicesForeignAmountTotalExVat | amount}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </soe-accordion>
    </uib-accordion>
    <div class="row margin-small-top">
        <div class="col-sm-12">
            <form class="form-inline">
                <soe-progressbar is-busy="ctrl.progressBusy" message="ctrl.progressMessage"></soe-progressbar>
                <div class="margin-large-bottom">
                    <div class="form-group form-group-sm">
                        <soe-checkbox label-key="economy.supplier.invoice.loadopen" model="ctrl.loadOpen"></soe-checkbox>
                    </div>
                    <div class="form-group form-group-sm">
                        <soe-checkbox label-key="economy.supplier.invoice.loadclosed" model="ctrl.loadClosed"></soe-checkbox>
                    </div>
                    <div class="form-group form-group-sm">
                        <soe-select model="ctrl.allItemsSelection" items="ctrl.allItemsSelectionDict" options="item.id as item.name for item in items"></soe-select>
                    </div>
                </div>
            </form>
            <div>
                <div ag-grid="ctrl.gridHandler.gridAg.options.gridOptions" class="ag-theme-balham"></div>
                <div id="invoice-totals-grid" class="ag-theme-balham" style="height: 25px; width: 100%;" prevent-enter></div>
            </div>
            <div class="ngSoeFormFooter margin-small-top">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <div class="row">
                            <div class="col-sm-4">
                                <soe-checkbox label-key="economy.supplier.invoice.showvatfree" model="ctrl.showVatFree" inline="true"></soe-checkbox>
                            </div>
                            <div class="col-sm-4">
                                <soe-textbox label-key="economy.supplier.invoice.filteredtotal" model="ctrl.filteredTotal | number:2" readonly="true"></soe-textbox>
                            </div>
                            <div class="col-sm-4">
                                <soe-textbox label-key="economy.supplier.invoice.selelectedtotal" model="ctrl.selectedTotal | number:2" readonly="true"></soe-textbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>