.addressContainer  {
    min-width:800px;
    float:left;
}
.addressContainer .selector {
	width: 800px;
    float:left;
    margin: 0 0 10px 0;
}

.adressesContainer {
	width:330px;
	float:left;
}
.addressContainer .adress {
	width:330px;
    margin: 0 0 5px 0;
	cursor:pointer;
	clear:both;
}
.addressContainer .adressInput {
	cursor:pointer;
    height: 30px;
    width: 200px;
    padding: 0 0 0 5px;
}
.addressContainer .currentAdress {
	font-weight: bold;
    background-color: #F5F5F5;
}
.addressContainer .deleteimg {
	width:12px;
	height:12px;
	margin: 0 0 2px 0;
}

/* Right  */
.addressContainer .rows {
	float:left;
	margin: 0 0 0 10px;
	overflow:hidden;
}
.addressContainer .rows .label {
	float:left;
    height:30px;
    margin: 5px 5px 5px 0px;
	padding: 7px 2px 1px 0px;
	font-size: 12px;
	color: #333;
}
.addressContainer .rows .input {
	float:left;
	height:16px;
}
.addressContainer .rows .currentrow {
	float:left;
}
.addressContainer .labelcontainer, .addressContainer .labelcontainer2 {
	float:left;
	width:100px;	
}
.addressContainer .labelcontainerhidden {
	width:0px;
	height:0px;
	top:100px;
    position:relative;
	overflow:hidden;
}
.addressContainer .inputcontainer, .addressContainer .inputcontainer2 {
	float:left;	
	width:400px;
} 
.addressContainer .inputcontainerhidden {
	width:0px;
	height:0px;
	top:150px;
	position:relative;
	overflow:hidden;
}


