<div>
    <div>
      <div class="row">
            <div class="col-sm-12">
                <soe-button [caption]="'common.customer.customer.rot.new'" (action)="addRot()"
                [behaviour]="'standard'" class="pull-right" style="margin-top: 5px;" ></soe-button>
            <soe-checkbox [labelKey]="'common.customer.invoices.showallapplicants'" [checked]="showAllApplicants()"
            class="pull-right" style="margin-right: 15px;"></soe-checkbox>
            </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
          @if (handler.allowFetchGrid()) {
            <soe-grid-wrapper
              [height]="250"
              [toolbarGroups]="[]"
              [rows]="contactRows"
              [parentGuid]="parentGuid"></soe-grid-wrapper>
          }
        </div>
      </div>
    </div>
  </div>
