node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results/
/.auth/
/.vscode/
/models/webapi/
*.log
/allure-report/
/dist/
updatedTest.json
/test-data/temp-download/