<div class="modal-header" data-ng-show="ctrl.isModal">
    <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.closeModal()" aria-hidden="true">&times;</button>
    <h6 class="modal-title">{{::ctrl.title}}</h6>
</div>

<div ng-class="ctrl.isModal ? 'edit-padding': ''" style="height: 100%;">
    <div>
        <data-ng-include src="ctrl.gridHeaderComponentUrl" />
    </div>

    <soe-toolbar buttons="ctrl.toolbar.buttonGroups">
        <data-ng-include src="ctrl.toolbar.toolbarInclude" />
    </soe-toolbar>

    <soe-progressbar is-busy="ctrl.progressBusy" message="ctrl.progressMessage"></soe-progressbar>

    <div ag-grid="ctrl.gridAg.options.gridOptions" ng-if="!ctrl.isModal" class="ag-theme-balham" context-menu="ctrl.getContextMenuOptions()" height-checker style="height: 800px; width: 100%;"></div>
    <div ag-grid="ctrl.gridAg.options.gridOptions" ng-if="ctrl.isModal" class="ag-theme-balham" style="height: 550px; width: 100%;"></div>
    <div id="totals-grid" class="ag-theme-balham" style="height: 25px; width: 100%;" prevent-enter></div>

    <div>
        <data-ng-include src="ctrl.gridFooterComponentUrl" />
    </div>
</div>
