@use '../../../../../shared/styles/core-styles/colors.scss';

.footer-container {
  border-style: solid;
  border-color: colors.$soe-border-color;
  border-width: 2px 0px 0px 0px;
  margin-bottom: -2px;

  sp-time-slot-sum {
    ::ng-deep .scrollbar-placeholder {
      margin-bottom: 0px;
    }
  }
}
