@use '../../../../../shared/styles/core-styles/colors.scss';

.info {
  background-color: colors.$soe-color-semantic-information-20;
  border: 1px solid colors.$soe-color-semantic-information;
  border-radius: 4px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
