<br />
<div class="ngSoeFormFooter">
    <div class="col-sm-offset-6 col-sm-6">
        <div class="pull-right">
            <div class="row">
                <div class="col-sm-12">
                    <soe-splitbutton label-key="core.functions" options="ctrl.buttonFunctions" main-button="true" drop-up="true" is-disabled="ctrl.gridAg.options.getSelectedCount() === 0" selected-option="ctrl.splitButtonSelectedOption" option-selected="ctrl.executeButtonFunction(option)"></soe-splitbutton>
                </div>
            </div>
        </div>
    </div>
</div>
