<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="ctrl.cancel()">&times;</button>
        <h6 class="modal-title" data-l10n-bind="'time.schedule.staffingneeds.contextmenu.deletetask'"></h6>
    </div>
    <div class="modal-body">
        <div class="row margin-small-bottom">
            <div class="col-sm-12">
                <soe-label label-key="time.schedule.planning.deleteshift.warning" discreet="true" text-class="warningColor" text-class-condition="true"></soe-label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <soe-text model="ctrl.task.name" text-class="indiscreet" text-class-condition="true"></soe-text>
                <soe-text model="ctrl.task.patternDescription"></soe-text>
            </div>
        </div>
        <div class="row margin-large-top">
            <div class="col-sm-12">
                <soe-instruction label-key="time.schedule.timescheduletask.deleterecurrencewarning"></soe-instruction>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-l10n-bind="'core.cancel'" data-ng-click="ctrl.cancel()"></button>
        <button type="button" class="btn btn-sm ngSoeMainButton" data-l10n-bind="'core.ok'" data-ng-click="ctrl.ok()"></button>
    </div>
</form>
