.autocomplete-button-container {
  .autocomplete-button {
    line-height: 24px;
    height: 24px;
    width: 24px;
    padding: 0px;
    margin-left: -8px; // Counteract .ag-cell-not-inline-editing padding-left: 8px;
    background: transparent;
    border-width: 0;
  }

  .autocomplete-button:hover {
    background: transparent;
  }
}
