//#region soe-instruction
#region ::ng-deep soe-instruction {
  display: inline-block;
  width: 100% !important;
}
:host ::ng-deep .alert {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-bottom: 0px !important;
}
//#endregion

:host ::ng-deep button {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}
:host ::ng-deep .form-check-inline {
  margin-top: 10px !important;
}

:host ::ng-deep .ag-cell.selected-cell {
  background-color: rgba(0, 123, 255, 0.1) !important;
}

:host ::ng-deep .ag-cell.selected-cell fa-icon {
  color: #007bff !important;
}

:host ::ng-deep .aggregations-error-row {
  @extend .selected-price-cell;
}

:host ::ng-deep .selected-price-cell {
  color: #007bff !important;
  font-weight: 600 !important;
}
