// Colors from Figma design system

// Primary
$soe-color-primary: #ec3641;
// Secondary
$soe-color-secondary-blue: #72a9f5;
$soe-color-secondary-beige: #ddc9a5;
// Accent
$soe-color-accent-warm-black: #2c0009;
// Primary tints
$soe-color-primary-dark-red: #63080d;
$soe-color-primary-tone-85: #ef545e;
$soe-color-primary-tone-75: #f16870;
$soe-color-primary-tone-60: #f4868d;
$soe-color-primary-tone-35: #f8b9bc;
$soe-color-primary-medium-red: #f7d8d1;
// Secondary tints
$soe-color-secondary-blue-70: #9cc3f8;
$soe-color-secondary-medium-blue: #bad5f9;
$soe-color-secondary-light-blue: #dfebfb;
$soe-color-secondary-medium-beige: #efeae3;
$soe-color-secondary-light-beige: #f7f4f0;
// Neutral
$soe-color-neutral-black: #1e1e1e;
$soe-color-neutral-dark-grey: #666666;
$soe-color-neutral-grey: #b6b6b6;
$soe-color-neutral-light-grey: #dfdfdf;
$soe-color-neutral-pale-grey: #f8f8f8;
$soe-color-neutral-white: #ffffff;
$soe-color-neutral-ag-white: #fefdfd;
// Semantic
$soe-color-semantic-error: #da1e28;
$soe-color-semantic-warning: #ff832b;
$soe-color-semantic-success: #24a148;
$soe-color-semantic-information: #0565c9;
$soe-color-semantic-yellow: #fbbd0e;
// Semantic tints
$soe-color-semantic-error-20: #f8d4d4;
$soe-color-semantic-error-5: #fdf4f4;
$soe-color-semantic-warning-20: #ffe6d5;
$soe-color-semantic-warning-5: #fff9f4;
$soe-color-semantic-success-20: #d3ecda;
$soe-color-semantic-success-5: #f4faf6;
$soe-color-semantic-information-20: #cde0f4;
$soe-color-semantic-information-5: #f2f7fc;

// Semantic special
$soe-color-semantic-gradient: #f18f8f; // TODO

// Standard color variables

$soe-border-color: $soe-color-neutral-light-grey;
$soe-background-color: $soe-color-neutral-white;
$soe-text-color: $soe-color-neutral-black;
$soe-inverted-text-color: $soe-color-neutral-white;

$soe-disabled-border-color: $soe-color-neutral-light-grey;
$soe-disabled-background-color: $soe-color-secondary-light-beige;
$soe-disabled-grid-row-background-color: $soe-color-neutral-light-grey;
$soe-disabled-grid-cell-background-color: $soe-color-neutral-pale-grey;
$soe-disabled-text-color: $soe-color-neutral-grey;
$soe-disabled-input-color: $soe-color-neutral-dark-grey;

$soe-header-background-color: $soe-color-secondary-light-beige;
$soe-button-hover-background-color: $soe-color-secondary-light-beige;

$today-background-color: $soe-color-secondary-medium-beige;
$saturday-color: $soe-color-semantic-information;
$saturday-background-color: $soe-color-semantic-information-20;
$sunday-color: $soe-color-semantic-error;
$sunday-background-color: $soe-color-semantic-error-20;

// Bootstrap override

$primary: $soe-color-primary;
$secondary: $soe-color-secondary-blue;
$success: $soe-color-semantic-success;
$info: $soe-color-semantic-information;
$warning: $soe-color-semantic-warning;
$danger: $soe-color-semantic-error;
$light: $soe-color-neutral-light-grey;
$dark: $soe-color-neutral-dark-grey;

// Components

$border-color: $soe-border-color;
