@use './colors.scss';

.error-color {
  color: colors.$soe-color-semantic-error;
}

.error-background-color {
  background-color: colors.$soe-color-semantic-error-20;
}

.ok-background-color {
  background-color: colors.$soe-color-semantic-success-20;
}

.disabled-grid-row-background-color {
  background-color: colors.$soe-disabled-grid-row-background-color;
}

.disabled-grid-cell-background-color {
  background-color: colors.$soe-disabled-grid-cell-background-color;
}

.warning-color {
  color: colors.$soe-color-semantic-warning;
}

.warning-background-color {
  background-color: colors.$soe-color-semantic-warning-20;
}

.success-color {
  color: colors.$soe-color-semantic-success;
}

.success-background-color {
  background-color: colors.$soe-color-semantic-success-20;
}

.information-background-color {
  background-color: colors.$soe-color-semantic-information-20;
}

.information-color {
  color: colors.$soe-color-semantic-information;
}

.medium-grey-color {
  color: colors.$soe-color-neutral-grey;
}

.icon-primary {
  color: colors.$soe-color-primary;
}

.icon-secondary {
  color: colors.$soe-color-secondary-blue;
}

.icon-close {
  color: colors.$soe-text-color;
}

.icon-close:hover {
  color: colors.$soe-color-semantic-error;
}

.icon-delete {
  color: colors.$soe-color-semantic-error;
  background-color: transparent;
}

.icon-delete:hover {
  color: colors.$soe-color-neutral-grey;
}

.icon-edit {
  color: colors.$soe-text-color;
}

.color-transparent {
  color: transparent;
}

.color-semantic-gradient {
  background-color: linear-gradient(76.43deg, #6bb85c 9.71%, #da1e28 81.56%);
}

.fa-file-word {
  color: #2a5699;
}

.fa-file-excel,
.fa-file-xls {
  color: #207245;
}

.fa-file-pdf {
  color: #bb0706;
}
