$font: 'Roboto Condensed', Verdana, Arial, Helvetica, Sans-serif;

$soe-font-size-xs: 8px;
$soe-font-size-sm: 10px;
$soe-font-size-md: 12px;
$soe-font-size-lg: 14px;
$soe-font-size-xl: 16px;
$soe-font-size-xxl: 20px;
$soe-font-size-xxxl: 24px;

$font-weight-normal: 400;
$font-weight-bold: 600;
