// Bootstrap overrides

$padding-y: 0.25rem; //$table-cell-padding-y-sm;
$line-height-base: 1rem;

// Grid columns

$grid-gutter-width: 1rem;

// Components

$border-radius: 0.25rem; // BS class .rounded

$button-border-radius: 1rem;

$focus-ring-width: 1px; // BS 5.3
