<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.dirtyHandler.isDirty" confirm-on-exit>

    <soe-progressbar is-busy="ctrl.progress.progressBusy" message="ctrl.progress.progressMessage"></soe-progressbar>

    <div data-ng-if="!ctrl.progress.progressBusy">
        <soe-toolbar buttons="ctrl.progress.buttonGroups"></soe-toolbar>
        <soe-panel label-key="time.employee.employeecollectiveagreement.employeecollectiveagreement">

            <div class="form-group form-group-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <soe-textbox label-key="common.code" model="ctrl.employeeCollectiveAgreement.code" maxlength="50" is-disabled="!ctrl.modifyPermission"></soe-textbox>
                    </div>
                    <div class="col-sm-4">
                        <soe-textbox label-key="common.name" model="ctrl.employeeCollectiveAgreement.name" required="true" maxlength="100" is-disabled="!ctrl.modifyPermission"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-textbox label-key="common.externalcode" model="ctrl.employeeCollectiveAgreement.externalCode" maxlength="50" is-disabled="!ctrl.modifyPermission"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <soe-textbox label-key="common.description" model="ctrl.employeeCollectiveAgreement.description" maxlength="512" is-disabled="!ctrl.modifyPermission"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-select label-key="time.employee.employeegroup.employeegroup" model="ctrl.employeeCollectiveAgreement.employeeGroupId" required="true" items="ctrl.employeeGroups" options="item.employeeGroupId as item.name for item in items"></soe-select>
                    </div>
                    <div class="col-sm-2">
                        <soe-select label-key="time.employee.payrollgroup.payrollgroup" model="ctrl.employeeCollectiveAgreement.payrollGroupId" required="true" items="ctrl.payrollGroups" options="item.payrollGroupId as item.name for item in items"></soe-select>
                    </div>
                    <div class="col-sm-2">
                        <soe-select label-key="time.employee.vacationgroup.vacationgroup" model="ctrl.employeeCollectiveAgreement.vacationGroupId" required="true" items="ctrl.vacationGroups" options="item.vacationGroupId as item.name for item in items"></soe-select>
                    </div>
                </div>
            </div>
        </soe-panel>
        <div class="ngSoeFormFooter">

            <div class="col-sm-4">
                <created-modified model="ctrl.employeeCollectiveAgreement"></created-modified>
            </div>
            <div class="col-sm-8">
                <div class="pull-right">
                    <div class="col"><soe-checkbox label-key="common.active" model="ctrl.employeeCollectiveAgreement.isActive" is-disabled="!ctrl.modifyPermission"></soe-checkbox></div>
                    <div class="col" data-ng-include src="ctrl.deleteButtonTemplateUrl" />
                    <div class="col" data-ng-include src="ctrl.saveButtonTemplateUrl" />
                </div>
            </div>

        </div>
    </div>
</form>