<form class="form-inline">
    <div class="col-sm-2" style="margin-top: 7px;">
        <div class="col-sm-2 input-group">
            <span class="input-group-addon btn btn-sm fal fa-chevron-left" style="width: 100%; padding: 6px 12px;" data-l10n-bind-title="'economy.accounting.accountdistributionentry.prev'" data-ng-click="$event.stopPropagation();ctrl.getPrevMonth()"></span>
            <span class="input-group-addon" style="text-transform: capitalize; padding: 6px 12px;" data-ng-bind="ctrl.currentMonth | date:'MMMM yyyy'"></span>
            <span class="input-group-addon btn btn-sm fal fa-chevron-right" style="width: 100%; padding: 6px 12px;" data-l10n-bind-title="'economy.accounting.accountdistributionentry.next'" data-ng-click="$event.stopPropagation();ctrl.getNextMonth()"></span>
        </div>
    </div>
</form>