<br />
<div class="ngSoeFormFooter">
    <div class="row">
        <div class="col-sm-12 pull-right">
            <div class="col pull-right margin-small-left margin-small-right" style="margin-top: 22px">
                <soe-splitbutton label-key="core.save" options="ctrl.buttonFunctionsFooter" main-button="true" drop-up="true" is-disabled="!ctrl.isDirty" option-selected="ctrl.executeButtonFunction(option)"></soe-splitbutton>
            </div>
            <div class="col pull-right margin-small-left">
                <soe-textbox label-key="billing.project.timesheet.workedtime" model="ctrl.timePayrollQuantityTotalFormatted" readonly="true"></soe-textbox>
            </div>
            <div class="col pull-right">
                <soe-textbox label-key="billing.project.timesheet.invoicedtime" model="ctrl.invoicedQuantityTotalFormated" readonly="true"></soe-textbox>
            </div>
        </div>
    </div>
</div>