.user-selector-for-template-head-row {

  .loading {
    padding: 2rem;
    text-align: center;
  }

  .info {
    margin-bottom: 0.5rem;

    .control-label {
      font-weight: 600;
      color: var(--text-primary);
    }
  }

  .margin-small-top {
    margin-top: 0.5rem;
  }

  .margin-small-bottom {
    margin-bottom: 0.5rem;
  }
}

