:host {
  height: 1rem;
  line-height: 1rem;

  .d-flex.inline {
    margin-top: 2rem;
  }

  label {
    vertical-align: bottom;
    white-space: nowrap;
    text-wrap: auto;

    &.centered {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  .min-height {
    min-height: 1rem;
  }
}
