#datePicker {
	position: absolute;
	background: #eee;
	border-left: 1px solid #ddd;
}
#datePicker p {	
	margin: 0;
	padding: 5px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
}
#datePicker img {
	padding: 0 3px 0 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#datePicker table {
	border-collapse: collapse;
	border-top: 1px solid #ddd;
	margin: 0;
}
#datePicker tbody td {
	background-color: #fff;
	/*cursor: pointer;*/
}
#datePicker td {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 2px 3px;
	font-size: 10px;
	text-align: center;
	cursor: default;
}
#datePicker td:hover {
	background-color: #eee;
}
#datePicker td.offmonth {
	color: #ccc;
}