form .invalid {
	background: url(/img/exclamation.png) no-repeat top left;
	padding: 14px 0 0 15px;
	display: none;
	cursor: help;
	position: relative;
	top: 1px;
	font-size: 0px;
	margin-right: 5px;
}
form .invalid span {
	display: inline;
	position: absolute;
	left: -10000px;
}   
button, div.button {
	border: 1px solid #ccc;
	font-size: 10px;
	background-color: #e8e8e8;
	margin: 0 5px 0 0;
	padding: 1px;
}
input, textarea {
	border: 1px solid #e8e8e8;
	font-size: 12px;
	padding: 1px 0;
}
input.focus, select.focus {
	border: 1px solid #F1801C;
}
input[type=hidden] { /* Firefox will display the element elseway! */
	border: 0;
	padding: 0;
}
.combo-options {
	list-style-type: none;
	border: 1px solid #e8e8e8;
	border-top: 0;
	background: #fff;
	position: absolute;
	display: none;
}
.combo-options li {
	padding: 0 5px;
}
.combo-options li:hover {
	background: #ffd;
	padding: 0 5px;
}

