@if (invalid()) {
  <div class="btn-group" role="group">
    <button
      type="button"
      [attr.data-testid]="behaviour()"
      [class]="typeClass()"
      [class.is-disabled]="true"
      [title]="tooltip() | translate">
      {{ caption() | translate }}
    </button>
    <button
      type="button"
      [attr.data-testid]="behaviour() + '-invalid'"
      [ngClass]="typeClass()"
      class="btn-invalid"
      [title]="invalidTooltip() | translate"
      (click)="onValidationErrorsAction($event)">
      !
    </button>
  </div>
} @else {
  <button
    type="button"
    [attr.data-testid]="behaviour()"
    [ngClass]="typeClass()"
    [ngStyle]="inline() ? { 'margin-top': '1.5rem' } : {}"
    [class.is-disabled]="isDisabled()"
    (click)="!isDisabled() ? onAction($event) : null"
    [title]="tooltip() | translate">
    @if (icon()) {
      <fa-icon [ngClass]="iconClass()" [icon]="icon()!"></fa-icon>
    }
    {{ caption() | translate }}
  </button>
}
