<br />
<div class="ngSoeFormFooter">
    <div class="col-sm-offset-6 col-sm-6">
        <div class="pull-right">
            <div class="row">
                <div class="col-sm-6 margin-large-top">
                    <soe-checkbox class="pull-right" label-key="economy.supplier.invoice.showvatfree" model="ctrl.showVatFree" data-ng-click="ctrl.showVatFreeChanged()"></soe-checkbox>
                </div>
                <div class="col-sm-3">
                    <soe-textbox label-key="economy.supplier.invoice.filteredtotal" model="ctrl.filteredTotal" numeric="true" decimals="2" readonly="true"></soe-textbox>
                </div>
                <div class="col-sm-3">
                    <soe-textbox label-key="economy.supplier.invoice.selelectedtotal" model="ctrl.selectedTotal" numeric="true" decimals="2" readonly="true"></soe-textbox>
                </div>
            </div>
        </div>
    </div>
</div>

