@use '../core-styles/colors.scss';
@use '../core-styles/fonts.scss';
@use '../core-styles/variables.scss';

.context-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: colors.$soe-background-color;
  border: 1px solid colors.$soe-border-color;
  border-radius: variables.$border-radius;
  box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.15);
  padding: 0.25rem 0;
  font-size: fonts.$soe-font-size-lg;
}

.context-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 2rem;
  padding: 0 0.5rem;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;

  fa-icon {
    margin-right: 0.5rem;
  }
}

.context-menu-item:hover {
  background-color: colors.$soe-button-hover-background-color;
}

.context-menu-item:active {
  background-color: colors.$soe-color-semantic-information-20;
}

.context-menu-item:disabled {
  color: colors.$soe-disabled-text-color;
  cursor: default;

  fa-icon {
    color: colors.$soe-disabled-text-color;
  }
}

.context-menu-item:disabled:hover {
  background-color: transparent;
}
