<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>Deploy\soe.wsx.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>__SOEWSX__</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SOECompEntities" Order="1" Enabled="False">
          <Destination Path="__SOECOMPENTITIES__" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=softones29.int.softone.se\dev;Initial Catalog=soedemo;Integrated Security=False;Persist Security Info=True;User ID=dba;Password=sql" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SOECompEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SoftOne.Soe.Data.SOECompModel.csdl|res://*/SoftOne.Soe.Data.SOECompModel.ssdl|res://*/SoftOne.Soe.Data.SOECompModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=true; Data Source=softones29.int.softone.se\dev;Initial Catalog=soedemo;Trusted_Connection=No;User Id=dba;password=sql;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SOESysEntities" Order="2" Enabled="False">
          <Destination Path="__SOESYSENTITIES__" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=softones29.int.softone.se\dev;Initial Catalog=soesysv2;Integrated Security=False;Persist Security Info=True;User ID=dba;Password=sql" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SOESysEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SoftOne.Soe.Data.SOESysModel.csdl|res://*/SoftOne.Soe.Data.SOESysModel.ssdl|res://*/SoftOne.Soe.Data.SOESysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=true;Data Source=softones29.int.softone.se\dev;Initial Catalog=soesysv2;Trusted_Connection=No;User Id=dba;password=sql;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Log4net" Order="3" Enabled="False">
          <Destination Path="__LOG4NET__" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=softones29.int.softone.se\dev;Initial Catalog=soesysv2;Integrated Security=False;Persist Security Info=True;User ID=dba;Password=sql" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Log4net_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Persist Security Info=true;data Source=softones29.int.softone.se\dev;Initial Catalog=soesysv2;Trusted_Connection=No;User Id=dba;password=sql" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureStorage" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=storagesoftone;AccountKey=9CMG71vXkaGDhPYjPss7HZ29Fd+s4lXqRqs7/FMsQkkUmcAKfLr0AaxbXyrDmkdZ/LaHArq7YyapL0/VHLQX+A==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=storagesoftone;AccountKey=9CMG71vXkaGDhPYjPss7HZ29Fd+s4lXqRqs7/FMsQkkUmcAKfLr0AaxbXyrDmkdZ/LaHArq7YyapL0/VHLQX+A==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Log4net-Web.config Connection String">
      <ParameterValue>__LOG4NET__</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SOECompEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SoftOne.Soe.Data.SOECompModel.csdl|res://*/SoftOne.Soe.Data.SOECompModel.ssdl|res://*/SoftOne.Soe.Data.SOECompModel.msl;provider=System.Data.SqlClient;provider connection string=__SOECOMPENTITIES__</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SOESysEntities-Web.config Connection String">
      <ParameterValue>__SOESYSENTITIES__</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>