<soe-dialog>
  <div dialog-content>
    @if (form) {
      <form
        [formGroup]="form"
        class="soe-edit-form"
        novalidate
        autocomplete="off">
        <div class="row">
          <div class="col-sm-12 mb-3">
            <soe-instruction
              text="billing.invoices.supplieragreement.deleteinfo"></soe-instruction>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <soe-select
              [labelKey]="'common.customer.customer.wholesellername'"
              formControlName="wholesellerId"
              [items]="data.wholesellersDict"></soe-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <soe-select
              [labelKey]="'billing.order.pricelisttype'"
              formControlName="priceListTypeId"
              [items]="data.priceLists"></soe-select>
          </div>
        </div>
      </form>
    }
  </div>
  <div dialog-footer>
    <soe-button
      class="ms-3"
      [caption]="'core.cancel'"
      typeClass="btn btn-secondary"
      [behaviour]="'standard'"
      (action)="cancel()"></soe-button>
    <soe-save-button
      class="ms-3"
      [caption]="'core.ok'"
      typeClass="btn btn-secondary"
      [invalid]="form.invalid"
      (action)="ok()"
      (validationErrorsAction)="
        form.openFormValidationErrors()
      "></soe-save-button>
  </div>
</soe-dialog>
