<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.dirtyHandler.isDirty" confirm-on-exit>

    <soe-progressbar is-busy="ctrl.progress.progressBusy" message="ctrl.progress.progressMessage"></soe-progressbar>

    <div data-ng-if="!ctrl.progress.progressBusy">
        <soe-toolbar buttons="ctrl.progress.buttonGroups"></soe-toolbar>
        <soe-panel label-key="time.employee.employmenttype.employmenttype">
            <div class="form-group form-group-sm">
                <div class="row">
                    <div class="col-sm-1">
                        <soe-textbox label-key="common.code" model="ctrl.employmentType.code" maxlength="100"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-select label-key="common.type" model="ctrl.employmentType.type" required="true"  items="ctrl.systemTypes" options="item.id as item.name for item in items"></soe-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-textbox label-key="common.name" model="ctrl.employmentType.name" required="true" maxlength="100"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-textbox label-key="common.description" model="ctrl.employmentType.description" maxlength="512"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-checkbox label-key="common.active" model="ctrl.employmentType.active"></soe-checkbox>
                    </div>
                </div>
            </div>
        </soe-panel>
        <div class="ngSoeFormFooter">
            <div class="col-sm-4">
                <created-modified model="ctrl.employmentType"></created-modified>
            </div>
            <div class="col-sm-8">
                <div class="pull-right">
                    <div class="col" data-ng-include src="ctrl.deleteButtonTemplateUrl" />
                    <div class="col" data-ng-include src="ctrl.saveButtonTemplateUrl" />
                </div>
            </div>
        </div>
    </div>
</form>