<soe-toolbar
  [recordConfig]="recordConfig"
  [form]="form"
  [itemGroups]="toolbarService.toolbarItemGroups"
  (navigatorRecordChanged)="navigatorRecordChanged($event)">
</soe-toolbar>
@if (form) {
  <form [formGroup]="form" class="soe-edit-form" novalidate autocomplete="off">
    <div class="row">
      <div class="col-sm-2">
        <soe-textbox
          [labelKey]="'common.name'"
          [maxLength]="100"
          [autoFocus]="true"
          formControlName="name">
        </soe-textbox>
      </div>
      <div class="col-sm-2">
        <soe-textbox
          [labelKey]="'common.description'"
          [maxLength]="100"
          formControlName="description">
        </soe-textbox>
      </div>
    </div>
    <div class="row">
      <soe-expansion-panel
        [labelKey]="
          'time.time.planningperiod.planningperiods.distribution.rule.rules'
        "
        [addTopMargin]="true"
        [static]="true">
        <soe-toolbar [toolbarGroups]="toolbarUtils.toolbarGroups">
        </soe-toolbar>
        <soe-dr-rules-grid [form]="form"></soe-dr-rules-grid>
      </soe-expansion-panel>
    </div>
    <soe-edit-footer
      [form]="form"
      [idFieldName]="idFieldName"
      [modifyPermission]="flowHandler.modifyPermission()"
      [inProgress]="performAction.inProgress()"
      (saved)="performSave()"
      (deleted)="triggerDelete()"></soe-edit-footer>
  </form>
}
