<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.dirtyHandler.isDirty" confirm-on-exit>

    <soe-progressbar is-busy="ctrl.progress.progressBusy" message="ctrl.progress.progressMessage"></soe-progressbar>

    <div data-ng-if="!ctrl.progress.progressBusy">
        <soe-toolbar buttons="ctrl.toolbar.buttonGroups"></soe-toolbar>
        <soe-panel label-key="billing.product.productunit.productunit">
            <div class="form-group form-group-sm">
                <div class="row">
                    <div class="col-sm-3">
                        <soe-textbox label-key="common.code" model="ctrl.productUnit.code" required="true" maxlength="20" auto-focus="true"></soe-textbox>
                    </div>
                    <div class="col-sm-3">
                        <soe-textbox label-key="common.name" model="ctrl.productUnit.name" required="true"></soe-textbox>
                    </div>
                </div>
            </div>
        </soe-panel>

        <uib-accordion close-others="false">
            <soe-accordion label-key="billing.product.translations" is-open="false">
                <div class="form-group form-group-sm">
                    <div class="row">
                        <div class="col-sm-6">
                            <comp-terms comp-term-record-type="ctrl.compTermRecordType" record-id="ctrl.productUnitId" comp-term-rows="ctrl.compTermRows" read-only="!ctrl.modifyPermission" parent-guid="ctrl.guid"></comp-terms>
                        </div>
                    </div>
                </div>
            </soe-accordion>
        </uib-accordion>
        <div class="ngSoeFormFooter">
            <div class="col-sm-4">
                <created-modified model="ctrl.productUnit"></created-modified>
            </div>
            <div class="col-sm-8">
                <div class="pull-right">
                    <div class="btn-group">
                        <div class="col" data-ng-include src="ctrl.deleteButtonTemplateUrl" />
                        <div class="col" data-ng-include src="ctrl.saveButtonTemplateUrl" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>