<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.dirtyHandler.isDirty" confirm-on-exit>

    <soe-progressbar is-busy="ctrl.progress.progressBusy" message="ctrl.progress.progressMessage"></soe-progressbar>

    <div data-ng-if="!ctrl.progress.progressBusy">
        <soe-toolbar buttons="ctrl.toolbar.buttonGroups" navigator-records="ctrl.toolbar.navigatorRecords" navigator-selected-record="ctrl.toolbar.selectedRecord" navigator-show-position="true" navigator-show-dropdown="true" navigator-on-selection-changed="ctrl.toolbar.selectedRecordChanged(record);">
        </soe-toolbar>
        <soe-panel label-key="time.schedule.daytype.holiday">
            <div class="form-group form-group-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <soe-textbox label-key="common.name" model="ctrl.holiday.name" required="true" maxlength="100"></soe-textbox>
                    </div>
                    <div class="col-sm-4">
                        <soe-textbox label-key="common.description" model="ctrl.holiday.description" maxlength="100"></soe-textbox>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-3">
                        <soe-select label-key="time.schedule.daytype.daytype" model="ctrl.holiday.dayTypeId" items="ctrl.dayTypesDict" options="item.id as item.name for item in items"></soe-select>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-3">
                        <soe-select label-key="time.schedule.daytype.sysholidaytype" model="ctrl.holiday.sysHolidayTypeId" items="ctrl.sysHolidayTypes" options="item.id as item.name for item in items"></soe-select>
                    </div>
                </div>
            </div>
            <div>
                <div class="row" data-ng-if="ctrl.holiday.sysHolidayTypeId === 0 || !ctrl.holiday.sysHolidayTypeId">
                    <div class="col-sm-2">
                        <soe-datepicker label-key="common.date" model="ctrl.holidayDate"></soe-datepicker>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-4">
                        <soe-checkbox label-key="time.time.timeearnedholiday.holiday" model="ctrl.holiday.isRedDay"></soe-checkbox>
                    </div>
                </div>
            </div>
        </soe-panel>
        <div class="ngSoeFormFooter">
            <div class="col-sm-4">
                <created-modified model="ctrl.holiday"></created-modified>
            </div>
            <div class="col-sm-8">
                <div class="pull-right">
                    <div class="col" data-ng-include src="ctrl.deleteButtonTemplateUrl" />
                    <div class="col" data-ng-include src="ctrl.saveButtonTemplateUrl" />
                </div>
            </div>
        </div>
    </div>

</form>