<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.dirtyHandler.isDirty" confirm-on-exit>
    <soe-toolbar buttons="ctrl.toolbar.buttonGroups"></soe-toolbar>

    <div class="form-group form-group-sm">
        <div class="row">
            <div class="col-sm-12">
                <div ag-grid="ctrl.gridHandler.gridAg.options.gridOptions" class="ag-theme-balham" style="height: 100%; width: 100%;"></div>
                <div id="totals-grid" class="ag-theme-balham" style="height: 25px; width: 100%;" prevent-enter></div>
            </div>
        </div>
    </div>
</form>