.Popup_overlay {
    background-color: #000;
    filter: alpha(opacity=30);
    opacity: .30;
    position: absolute;
    z-index: 899;
}

.Popup {
    position: absolute;
    z-index: 900;
}

    .Popup .ds4 {
        padding: 0;
        background: #fff;
        border: 1px solid var(--soe-border-color);
    }

    .Popup .text {
        width: 350px;
        text-align: justify;
    }

    .Popup h3 {
        margin: 0;
        padding: 5px 10px;
        border-bottom: 1px solid var(--soe-border-color);
        color: var(--soe-text-color);
        font-weight: normal;
    }

    .Popup h4 {
        margin: 0;
        padding: 5px 10px;
        border-bottom: 1px solid var(--soe-border-color);
        color: var(--soe-text-color);
    }

    .Popup form {
        padding: 5px 10px;
    }

        .Popup form div {
            padding: 5px 0;
        }

            .Popup form div.content {
            }

            .Popup form div.buttons {
                text-align: right;
                padding-top: 10px;
                border-top: 1px solid var(--soe-border-color);
            }

    .Popup select {
        width: 120px;
    }

    .Popup table {
        border-collapse: collapse;
        margin: 0;
    }

        .Popup table th {
            text-align: left;
            font-weight: normal;
            border: 0;
            padding: 0;
        }

        .Popup table input, .Popup table select {
            margin: 0 0 5px 5px;
            border: 1px solid var(--soe-border-color);
            padding: 0 2px 0 2px;
            width: 120px;
        }
