@use '../../../styles/core-styles/fonts.scss';

.btn {
  display: flex;
  align-items: center;
  min-width: 32px;

  &.is-hidden {
    display: none;
  }

  fa-icon {
    font-size: fonts.$soe-font-size-xl;
    vertical-align: middle;
  }

  .button-caption {
    &.with-icon {
      margin-left: 0.5rem;
    }
  }
}
