@use '../../../../../shared/styles/core-styles/colors.scss';
@use '../../../../../shared/styles/core-styles/fonts.scss';
@use '../../components/schedule-planning/schedule-planning-common.scss';

.dialog-form {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background: colors.$soe-background-color;
}

.content {
  display: flex;
  flex: 1 1 auto;
  min-height: 400px;
  overflow: auto;

  .shifts-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 0.25rem;
    background-color: colors.$soe-color-secondary-light-beige;
  }

  .shift-summary {
    font-size: fonts.$soe-font-size-md;
    margin: auto 0 0 0;
  }

  .shift-detail {
    flex: 3;
    padding: 0.25rem 0.5rem;
  }
}

.footer-content {
  display: flex;
  align-items: center;
}
