<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.dirtyHandler.isDirty" confirm-on-exit>

    <soe-progressbar is-busy="ctrl.progress.progressBusy" message="ctrl.progress.progressMessage"></soe-progressbar>

    <div data-ng-if="!ctrl.progress.progressBusy">
        <soe-toolbar buttons="ctrl.toolbar.buttonGroups"></soe-toolbar>
        <soe-panel label-key="economy.accounting.matchcode.matchcode">
            <div class="form-group form-group-sm">
                <div class="row">
                    <div class="col-sm-3">
                        <soe-textbox label-key="common.name" model="ctrl.matchCode.name" required="true" auto-focus="true"></soe-textbox>
                    </div>
                    <div class="col-sm-3">
                        <soe-select label-key="common.type" model="ctrl.matchCode.type" items="ctrl.matchCodeTypes" options="item.id as item.name for item in items"></soe-select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <soe-textbox label-key="common.description" model="ctrl.matchCode.description"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <soe-typeahead label-key="economy.accounting.account" model="ctrl.selectedAccount" items="ctrl.accountStdsDict" options="item as item.numberName for item in items" limit="10" required="true" filter-property="numberName"></soe-typeahead>
                    </div>
                    <div class="col-sm-3">
                        <soe-typeahead label-key="economy.accounting.matchcode.vataccount" model="ctrl.selectedVATAccount" items="ctrl.accountStdsDict" options="item as item.numberName for item in items" limit="10" filter-property="numberName"></soe-typeahead>
                    </div>
                </div>
            </div>
        </soe-panel>
        <div class="ngSoeFormFooter">
            <div class="col-sm-6">
                <created-modified model="ctrl.matchCode"></created-modified>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <div class="col" data-ng-include src="ctrl.deleteButtonTemplateUrl" />
                    <div class="col" data-ng-include src="ctrl.saveButtonTemplateUrl" />
                </div>
            </div>
        </div>
    </div>
</form>