soe-label {
  // Vertically align label with DatePicker
  margin-top: 1.75rem;
  margin-right: 0;
}

.separator-dash {
  margin: 0;
  padding: 0;
  width: 1rem;
  justify-content: center;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  &.inline {
    margin-top: -1.25rem;
  }
}
