.modalBackground
{
    background-color: #fff;
    filter: alpha(opacity=50);
    opacity: 0.50;
}
.modalButtonContainer
{
    position:absolute;
    bottom:8px;
    right:8px;

}
.modalButton
{
    border:solid 1px #ccc;

}
.ModalTable 
{
    background: #F8F8F8;
    float: left;
}
.ModalTable table 
{
    margin: 0;
    border-collapse: collapse;
}
.ModalTable table th {
	padding: 2px 23px 1px 6px;
	background: #D8D8D8;
	text-align: left;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.ModalTable tr.odd 
{
    background-color: white;
}
.ModalTable tr.even 
{
    background-color: #F5F5F5;
}
.ModalEdit
{
    margin:0;
    padding:0;
    background-image:url(../img/edit.png);
    background-repeat:no-repeat;
    width:16px;
    height:5px;
    cursor:pointer;
}
#modalFormContent.content
{
    max-height: 600px;
    height:auto;
    overflow:auto; 
    overflow-x:hidden;
    margin:0;
}
