<div class="ngSoeForm form-group form-group-sm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="info" id="crystalinfo_info"><soe-label label-key="manage.support.logs.crystalreport" readonly="true"></th>
                <th class="active" id="crystalinfo_active"><soe-label label-key="manage.support.logs.loadrpd" readonly="true"></soe-label>
                <th class="success" id="crystalinfo_success"><soe-label label-key="manage.support.logs.disposerpd" readonly="true"></soe-label></th>
                <th class="warning" id="crystalinfo_warning"><soe-label label-key="manage.support.logs.diffrpd" readonly="true"></soe-label></th>
            </tr>
        </thead>
        <tr>
            <td class="info"><soe-label label-key="manage.support.logs.web"></td>
            <td class="active"><soe-textbox hidelabel="true"  model="ctrl.nrOfLoadsRpdWeb" readonly="true"></td>
            <td class="success"><soe-textbox hidelabel="true" model="ctrl.nrOfDisposeRpdWeb" readonly="true"></td>
            <td class="warning"><soe-textbox hidelabel="true" model="ctrl.diffRpdWeb" readonly="true"></td>
        </tr>
        <tr>
            <td class="info"><soe-label label-key="manage.support.logs.ws"></td>
            <td class="active"><soe-textbox hidelabel="true" model="ctrl.nrOfLoadsRpdWs" readonly="true"></soe-textbox></td>
            <td class="success"><soe-textbox hidelabel="true" model="ctrl.nrOfDisposeRpdWs" readonly="true"></soe-textbox></td>
            <td class="warning"><soe-textbox hidelabel="true" model="ctrl.diffRpdWs" readonly="true"></soe-textbox></td>
        </tr>
    </table>
</div>
   


