/* SoeTabView*/
.SoeTabView {
    margin: 0;
}

    .SoeTabView .tabList {
        height: 30px;
    }

        .SoeTabView .tabList .active {
            border-bottom: 1px solid white;
            background-color: var(--soe-background-color);
            font-weight: bold;
        }

        .SoeTabView .tabList li {
            display: block;
            float: left;
            margin: 0 0 0 0;
            border-bottom: 0;
        }

        .SoeTabView .tabList img {
            margin: 0 5px 0 0;
        }

        .SoeTabView .tabList a {
            display: block;
            padding: 0 10px 0 10px;
            line-height: 29px;
            text-decoration: none;
            background: var(--soe-color-secondary-light-beige);
            border: 1px solid var(--soe-border-color);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: var(--soe-text-color);
            font-size: 14px;
            margin-right: -1px;
        }

            .SoeTabView .tabList a:hover {
                background-color: var(--soe-background-color);
            }

        .SoeTabView .tabList .reg img {
            vertical-align: middle;
        }

    .SoeTabView .tabContent {
        padding: 10px 10px 10px 10px;
        border: 1px solid var(--soe-border-color);
        display: none;
        background-color: var(--soe-background-color);
    }

    .SoeTabView div.active {
        display: block;
    }

    .SoeTabView div.col {
        float: left;
        white-space: nowrap;
    }

    .SoeTabView div.clear {
        clear: left;
    }
