#SideBar {
	position: absolute;
	right: 0px;
	top: 104px;
	z-index: 100;
	width: 0px;
	overflow: hidden;
	background-color:#F9F9F9;
}
#SideBar p {margin: 0; padding: 0;}
#SideBar .sideBarAction {
	border-top: solid 1px #999;
	float:left;
	text-align: right;
	background-color:#fff;
	width:100%;
}
.help, .comments { padding: 10px;}
.help {background: #e7ffe7;}
.comments {background-color:#FFF;margin:0;padding:0;}
.comments p{color:#496B9B;font-weight:bold}
.comments .container{margin-top:10px;float:left;width:300px;padding:0;margin-left:0;margin-right:0;margin-bottom:0;border:0;font-family:Verdana;}
.comments .container .titleContainer{border-left:solid 1px #999;height:13px; width:299px;cursor:pointer;background: url(merge/SideBar/header.gif); padding-top:3px;padding-bottom:2px;}
.comments .container .titleContainer:hover{background: url(merge/SideBar/hoover.gif);}
.comments .container .titleContainer .title{padding-left:10px; float:left;width:190px; color:#eee; font-weight:bold;padding-right:10px;}
.comments .container .titleContainer .date{float:left;width:70px; color:#eee;}
.comments .container .titleContainer .remove{float:right;width:10px; color:#7F0000;margin-top:3px;margin-right:5px;}
.comments .container .content{border-left:solid 1px #999;float:left;width:285px;color:#666; text-align:justify;padding:2px 5px 10px 5px;}
.comments .container .hidden{display:none;}
.formContainer {}
.formContainer .button{float:right;color:#000;background-color:#ddd; border:solid 1px #666;padding:3px;cursor:pointer;margin-top:3px;}
.formContainer .button:hover{background-color:#aaa;}
.formContainer .titleInput{border:solid 1px #aaa; color:#000; width:277px;height:10px;padding:3px;margin-top:3px;float:left;}
.formContainer .textInput{border:solid 1px #aaa; color:#000;width:277px;height:80px;padding:3px;margin-top:3px;float:left;overflow-y:auto;}
.comments .container .bottom{float:left;border:solid 1px #999;border-top:0;height:0px;margin:0;padding:0;width:300px;}
.infoIcon{float:left;width:10px;height:10px;}
#openComments{width:20px;float:right;}