.grid-mode {
  input {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 23px;
  }

  input,
  input:hover,
  input:focus {
    border: none !important;
  }
}

.no-radius-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-radius-right > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
