<soe-toolbar
  [recordConfig]="recordConfig"
  [form]="form"
  [toolbarGroups]="toolbarUtils.toolbarGroups"
  (navigatorRecordChanged)="navigatorRecordChanged($event)">
  <ng-content toolbar-content-left select="[toolbar-content-left]"></ng-content>
</soe-toolbar>

@if (form) {
  <form [formGroup]="form" class="soe-edit-form" novalidate autocomplete="off">
    <div class="row">
      <soe-expansion-panel
        [static]="true"
        [labelKey]="'billing.product.materialcode'">
        <div class="row">
          <div class="col-sm-2">
            <soe-textbox
              [labelKey]="'common.code'"
              [maxLength]="20"
              [autoFocus]="true"
              formControlName="code">
            </soe-textbox>
          </div>
          <div class="col-sm-4">
            <soe-textbox
              [labelKey]="'common.name'"
              [maxLength]="100"
              formControlName="name">
            </soe-textbox>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <soe-textarea
              [labelKey]="'common.description'"
              [maxLength]="512"
              [rows]="3"
              [showLength]="true"
              formControlName="description">
            </soe-textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <soe-textbox
              [labelKey]="'common.note'"
              [maxLength]="50"
              formControlName="note">
            </soe-textbox>
          </div>
        </div>
      </soe-expansion-panel>
      <soe-expansion-panel
        [labelKey]="'time.time.timecode.invoiceproducts'"
        [static]="true">
        <div class="row">
          <div class="col-sm-6">
            <soe-material-codes-edit-item-grid
              [form]="form"
              [expenseType]="expenseType">
            </soe-material-codes-edit-item-grid>
          </div>
        </div>
      </soe-expansion-panel>
    </div>
    <soe-edit-footer
      [form]="form"
      [showActive]="true"
      (activeChanged)="activeChanged($event)"
      [idFieldName]="idFieldName"
      [modifyPermission]="flowHandler.modifyPermission()"
      [inProgress]="performAction.inProgress()"
      (saved)="performSave()"
      (deleted)="triggerDelete()"></soe-edit-footer>
  </form>
}
