@use '../../../styles/core-styles/colors.scss';

:host {
  display: block;
  height: 3rem;
  margin: 1rem -1rem -1rem -1rem;
  border: 1px solid colors.$soe-border-color;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  padding: 0.5rem 0;

  // Make it sticky
  position: sticky;
  bottom: 0;
  background-color: colors.$soe-background-color;
  z-index: 2;
}