.info {
    border: 1px solid #0565c9;
    background-color: #cde0f4;
    border-radius: 4px;
    padding: 0px 10px;
    min-height: 30px;
    margin-bottom: 10px;
}
.info-message {
    margin-right: 16px;
    font-size: small;
    padding-top: 5px;
}