<soe-toolbar
  [recordConfig]="recordConfig"
  [form]="form"
  [itemGroups]="toolbarService.toolbarItemGroups"
  (navigatorRecordChanged)="navigatorRecordChanged($event)">
  <ng-content toolbar-content-left select="[toolbar-content-left]"></ng-content>
</soe-toolbar>
@if (form) {
  <form [formGroup]="form" class="soe-edit-form" novalidate autocomplete="off">
    <soe-expansion-panel
      [labelKey]="'common.general'"
      [static]="false"
      [open]="true">
      <div class="row">
        <div class="col-sm-6">
          <soe-autocomplete
            [labelKey]="'billing.purchase.supplier'"
            [items]="suppliers || []"
            [optionIdField]="'id'"
            [optionNameField]="'name'"
            [limit]="10"
            [autoFocus]="true"
            formControlName="supplierId">
          </soe-autocomplete>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <soe-textbox
            [labelKey]="'billing.purchase.product.supplieritemno'"
            [required]="true"
            formControlName="supplierProductNr"></soe-textbox>
        </div>
        <div class="col-sm-3">
          <soe-textbox
            [labelKey]="'billing.purchase.product.supplieritemname'"
            [required]="true"
            formControlName="supplierProductName"></soe-textbox>
        </div>
        <div class="col-sm-3">
          <soe-select
            [labelKey]="'billing.purchase.product.supplierunit'"
            [required]="true"
            [selectedId]="form.value.type"
            [items]="units || []"
            [optionIdField]="'productUnitId'"
            formControlName="supplierProductUnitId">
          </soe-select>
        </div>
        <div class="col-sm-3">
          <soe-textbox
            [labelKey]="'common.code'"
            formControlName="supplierProductCode"></soe-textbox>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <soe-numberbox
            [labelKey]="'billing.purchase.product.packetsize'"
            formControlName="packSize"></soe-numberbox>
        </div>
        <div class="col-sm-3">
          <soe-numberbox
            [labelKey]="'billing.purchase.product.leadtime'"
            formControlName="deliveryLeadTimeDays"></soe-numberbox>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <soe-autocomplete
            [labelKey]="'billing.product.number'"
            [items]="products"
            [limit]="10"
            [optionIdField]="'productId'"
            [optionNameField]="'numberName'"
            [optionDisplayNameField]="'number'"
            (valueChanged)="itemChanged($event)"
            formControlName="productId">
          </soe-autocomplete>
        </div>
        <div class="col-sm-3">
          <soe-textbox
            [labelKey]="'common.customer.invoices.articlename'"
            formControlName="itemName"></soe-textbox>
        </div>
        <div class="col-sm-3">
          <soe-textbox
            [labelKey]="'billing.product.productunit'"
            formControlName="itemUnit"></soe-textbox>
        </div>
      </div>
    </soe-expansion-panel>
    <soe-expansion-panel
      [labelKey]="'billing.product.purchaseprice'"
      [static]="false"
      [noPadding]="true">
      <soe-supplier-product-prices
        [rows]="purchaseData"
        [form]="form"
        (rowsStatusChanged)="
          updateModifiedRows($event)
        "></soe-supplier-product-prices>
    </soe-expansion-panel>
    <soe-edit-footer
      [form]="form"
      [idFieldName]="idFieldName"
      [modifyPermission]="flowHandler.modifyPermission()"
      [inProgress]="performAction.inProgress()"
      (saved)="performSave()"
      (deleted)="triggerDelete()"></soe-edit-footer>
  </form>
}
