<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoftOne.EdiAdmin.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <SoftOne.EdiAdmin.Business.Properties.Settings>
      <setting name="EmailSMTP" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>EdiAdmin@softone.se</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>SoftOne123</value>
      </setting>
      <setting name="EmailFromName" serializeAs="String">
        <value>EdiAdmin</value>
      </setting>
      <setting name="SMTPLogon" serializeAs="String">
        <value>xeteamet@gmail.com</value>
      </setting>
      <setting name="SMTPSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="UseInternalMailServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailInternalFrom" serializeAs="String">
        <value>johan.svanborg@softone.se</value>
      </setting>
      <setting name="EdiConnectionDb" serializeAs="String">
        <value>server=extra01\xedev;uid=dba;pwd=sql;</value>
      </setting>
    </SoftOne.EdiAdmin.Business.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>