<soe-toolbar
  [recordConfig]="recordConfig"
  [form]="form"
  [itemGroups]="toolbarService.toolbarItemGroups"
  (navigatorRecordChanged)="navigatorRecordChanged($event)">
</soe-toolbar>

@if (form) {
  <form [formGroup]="form" class="soe-edit-form" novalidate autocomplete="off">
    <div class="row">
      <div class="col-sm-2">
        <soe-textbox
          [labelKey]="'manage.registry.sysposition.ssyk'"
          [maxLength]="50"
          [required]="true"
          formControlName="code">
        </soe-textbox>
      </div>
      <div class="col-sm-2">
        <soe-textbox
          [labelKey]="'common.name'"
          [maxLength]="100"
          [required]="true"
          formControlName="name">
        </soe-textbox>
      </div>
      <div class="col-sm-8">
        <soe-textbox
          [labelKey]="'common.description'"
          [maxLength]="512"
          formControlName="description">
        </soe-textbox>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <soe-select
          [labelKey]="'manage.registry.sysposition.country'"
          [selectedId]="form.value.sysCountryId"
          [items]="sysCountries"
          [required]="true"
          formControlName="sysCountryId">
        </soe-select>
      </div>
      <div class="col-sm-2">
        <soe-select
          [labelKey]="'manage.registry.sysposition.language'"
          [selectedId]="form.value.sysLanguageId"
          [items]="sysLanguageId"
          [required]="true"
          formControlName="sysLanguageId">
        </soe-select>
      </div>
    </div>

    <soe-edit-footer
      [form]="form"
      [idFieldName]="idFieldName"
      [modifyPermission]="flowHandler.modifyPermission()"
      [inProgress]="performAction.inProgress()"
      (saved)="performSave()"
      (deleted)="triggerDelete()"></soe-edit-footer>
  </form>
}
