<form class="form-inline">
    <div>
        <div class="form-group form-group-sm">
            <soe-label label-key="common.fromdate"></soe-label>
        </div>
        <div class="form-group form-group-sm margin-large-right">
            <soe-datepicker hidelabel="true" model="ctrl.selectedDateFrom" style="width:150px;"></soe-datepicker>
        </div>
        <div class="form-group form-group-sm">
            <soe-label label-key="common.todate"></soe-label>
        </div>
        <div class="form-group form-group-sm margin-large-right">
            <soe-datepicker hidelabel="true" model="ctrl.selectedDateTo" style="width:150px;"></soe-datepicker>
        </div>
        
        <div class="form-group form-group-sm">
            <button type="button" class="pull-left btn btn-sm btn-default ngSoeMainButton rounded-left rounded-right" style="height:30px" data-l10n-bind="'core.search'" data-ng-click="$event.stopPropagation();ctrl.search()" data-ng-disabled="!ctrl.selectedDateFrom || !ctrl.selectedDateTo"></button>
        </div>
    </div>
</form>

