@use '../../styles/core-styles/colors.scss';


.image-viewer__container {
  position: relative;

  .image-viewer__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2); 
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none; // disables interaction when hidden
    z-index: 10;
  }

  &:hover .image-viewer__toolbar {
    opacity: 1;
    pointer-events: auto; // re-enables interaction on hover
  }
}

.image-viewer__viewport {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: thin;
  transform-origin: center center;
  background-color: #e6e6e6;
  max-height: 80vh;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transform-origin: center center;
  }
}
