@use 'src/app/shared/styles/core-styles/fonts';
@use 'src/app/shared/styles/core-styles/colors';

.shift-row-container {
  font-size: fonts.$soe-font-size-md;
  padding-left: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
}

.shift-header-row-container {
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.shift-instruction-row-container {
  font-size: fonts.$soe-font-size-md;
  padding-left: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;

  .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
}

.shift-color-icon {
  border: 1px solid colors.$soe-color-neutral-dark-grey;
}

.shift-color-box {
  width: 16px;
  height: 10px;
}