<div>
    <soe-progressbar is-busy="ctrl.progressBusy" message="ctrl.progressMessage"></soe-progressbar>

    <div data-ng-if="!ctrl.progressBusy">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 content-border-no-radius" style="margin-bottom: -1px;">
                    <div style="margin-left: -5px; margin-top: 3px; margin-bottom: 3px; font-weight: bold;">
                        <span data-l10n-bind="'billing.products.products.accountingprio'"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="accounting-prio-grid" ag-grid="ctrl.gridAg.options.gridOptions" class="ag-theme-balham" style="height: 100%; width: 100%;" prevent-enter></div>
            </div>
        </div>
    </div>
</div>