<soe-toolbar
  [recordConfig]="recordConfig"
  [form]="form"
  [itemGroups]="toolbarService.toolbarItemGroups"
  (navigatorRecordChanged)="navigatorRecordChanged($event)">
</soe-toolbar>

@if (form) {
  <form [formGroup]="form" class="soe-edit-form" novalidate autocomplete="off">
  <div class="row">
    <div class="col-sm-2">
      <soe-textbox
        [labelKey]="'common.name'"
        [maxLength]="100"
        [autoFocus]="true"
        [required]="true"
        formControlName="name">
      </soe-textbox>
    </div>
    <div class="col-sm-4">
      <soe-textbox
        [labelKey]="'common.description'"
        [maxLength]="512"
        [autoFocus]="true"
        formControlName="description">
      </soe-textbox>
    </div>
  </div>
  @if (useAccountsHierarchy()) {
    <div class="row">
      <div class="col-sm-2">
        <soe-select
          [labelKey]="'common.user.attestrole.accounthierarchy'"
          [selectedId]="form.value.accountId"
          [items]="this.accounts"
          formControlName="accountId">
        </soe-select>
      </div>
    </div>
  }
    <soe-edit-footer
      [form]="form"
      [idFieldName]="idFieldName"
      [modifyPermission]="flowHandler.modifyPermission()"
      [inProgress]="performAction.inProgress()"
      (saved)="performSave()"
      (deleted)="triggerDelete()"></soe-edit-footer>
  </form>
}
