<form class="form-inline">
    <div>
        <div class="form-group form-group-sm">
                <soe-multiselect label-key="common.status" options="ctrl.selectableInventoryStatuses" model="ctrl.selectedInventoryStatuses" on-selection-complete="ctrl.statusSelectionComplete()" search="false"></soe-multiselect>
        </div>
        <!--<div class="form-group form-group-sm">
            <soe-checkbox label-key="economy.accounting.accountdistribution.showopen" model="ctrl.loadOpen"></soe-checkbox>
        </div>
        <div class="form-group form-group-sm">
            <soe-checkbox label-key="economy.accounting.accountdistribution.showclosed" model="ctrl.loadClosed"></soe-checkbox>
        </div>-->
    </div>
</form>