@use '../sp-right-content.component.scss';

.availability {
  white-space: break-spaces;
}

.time-cost-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .time-cost-label {
    text-align: left;
  }

  .time-cost-value {
    text-align: right;
  }
}
