<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.isDirty" confirm-on-exit>
    <soe-progressbar is-busy="ctrl.progressBusy" message="ctrl.progressMessage"></soe-progressbar>
    <div data-ng-if="!ctrl.progressBusy">
        <div supplier-payment-validation ng-model="ctrl.payment" invoice="ctrl.invoice" accounting-rows="ctrl.payment.paymentAccountRows"
             is-base-currency="ctrl.isBaseCurrency" account-year-is-open="ctrl.accountYearIsOpen" account-period="ctrl.accountPeriod" default-voucher-series-id="ctrl.defaultVoucherSeriesId"
             selected-supplier="ctrl.selectedSupplier" selected-payment-method="ctrl.selectedPaymentMethod" selected-pay-date="ctrl.selectedPayDate" selected-pay-to-account="ctrl.selectedPaymentInfo" data-ng-if="!ctrl.progressBusy">
            <soe-toolbar buttons="ctrl.buttonGroups"></soe-toolbar>
            <uib-accordion close-others="false">
                <soe-accordion label-key="economy.supplier.payment.payment" is-open="true">
                    <div class="form-group form-group-sm">
                        <div class="row">
                            <div class="col-sm-3">
                                <soe-textbox label-key="economy.supplier.invoice.seqnr" model="ctrl.seqNr" readonly="true"></soe-textbox>
                            </div>
                            <div class="col-sm-3">
                                <soe-select label-key="economy.supplier.invoice.billingtype" model="ctrl.payment.billingType" items="ctrl.billingTypes" options="item.id as item.name for item in items" is-disabled="ctrl.selectedInvoice.id || ctrl.isAfterPayment || ctrl.locked && !ctrl.isSupportSuperAdminUnlocked" on-changing="ctrl.billingTypeChanging()"></soe-select>
                            </div>
                            <div class="col-sm-3">
                                <soe-typeahead label-key="economy.supplier.supplier.supplier" model="ctrl.selectedSupplier" items="ctrl.suppliers" options="item as item.name for item in items" is-disabled="ctrl.isSpecificInvoice || ctrl.locked || ctrl.isAfterPayment" required="true" event-focus-name="ctrl_selectedSupplier"></soe-typeahead>
                            </div>
                            <div class="col-sm-3">
                                <soe-typeahead label-key="economy.supplier.invoice.ocr" model="ctrl.selectedInvoice" items="ctrl.unpaidInvoices" limit="100" options="item as item.name for item in items" is-disabled="ctrl.locked || ctrl.isSpecificInvoice || ctrl.isAfterPayment" required="true"></soe-typeahead>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <soe-select label-key="economy.supplier.payment.paymentmethod" model="ctrl.selectedPaymentMethod" items="ctrl.paymentMethods" options="item as item.name for item in items" required="true" is-disabled="ctrl.isVoucher"></soe-select>
                            </div>
                            <div class="col-sm-3">
                                <soe-select label-key="economy.supplier.invoice.paytoaccount" label-value="ctrl.selectedPaymentInfo.name" label-value-in-parentheses="true" model="ctrl.selectedPaymentInfo" items="ctrl.paymentInfos" options="item as item.paymentNr for item in items" is-disabled="!ctrl.selectedSupplier || ctrl.locked || ctrl.isAfterPayment" required="true"></soe-select>
                            </div>
                            <div class="col-sm-3">
                                <soe-select label-key="economy.supplier.invoice.voucherseries" model="ctrl.selectedVoucherSeries" items="ctrl.voucherSeries" options="item as item.voucherSeriesTypeName for item in items" required="true" is-disabled="ctrl.isVoucher"></soe-select>
                            </div>
                            <div class="col-sm-3">
                                <soe-textbox label-key="economy.supplier.invoice.description" model="ctrl.payment.text" is-disabled="ctrl.lisCancelled"></soe-textbox>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="row">
                            <div class="col-sm-2">
                                <soe-select label-key="economy.supplier.invoice.currency" model="ctrl.payment.currencyId" items="ctrl.currencies" options="item.currencyId as item.name for item in items" is-disabled="ctrl.invoice.invoiceId"></soe-select>
                            </div>
                            <div class="col-sm-2" data-ng-if="!ctrl.isBaseCurrency">
                                <soe-textbox label-key="economy.supplier.invoice.currencyrate" label-value="ctrl.currencyDate | date: 'shortDate'" label-value-in-parentheses="true" model="ctrl.currencyRate" input-type="number" readonly="true"></soe-textbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <soe-textbox label-key="economy.supplier.payment.totalamount" label-value="ctrl.currencyCode" label-value-in-parentheses="true" model="ctrl.invoice.totalAmountCurrency" numeric="true" decimals="2" update-on="blur" is-disabled="ctrl.invoice.invoiceId || ctrl.locked || ctrl.isAfterPayment" on-change="ctrl.amountChanged('total')"></soe-textbox>
                            </div>
                            <div class="col-sm-2">
                                <soe-textbox label-key="economy.supplier.payment.vatamount" label-value="ctrl.currencyCode" label-value-in-parentheses="true" model="ctrl.invoice.vatAmountCurrency" numeric="true" decimals="2" update-on="blur" is-disabled="ctrl.invoice.invoiceId || ctrl.locked || ctrl.isAfterPayment" on-change="ctrl.amountChanged('vat')"></soe-textbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2" data-ng-if="!ctrl.isBaseCurrency">
                                <soe-textbox label-key="economy.supplier.payment.totalamount" label-value="ctrl.baseCurrencyCode" label-value-in-parentheses="true" model="ctrl.invoice.totalAmount" numeric="true" decimals="2" readonly="true"></soe-textbox>
                            </div>
                            <div class="col-sm-2" data-ng-if="!ctrl.isLedgerCurrency && ctrl.baseCurrencyCode !== ctrl.ledgerCurrencyCode">
                                <soe-textbox label-key="economy.supplier.payment.totalamount" label-value="ctrl.ledgerCurrencyCode" label-value-in-parentheses="true" model="ctrl.invoice.totalAmountLedgerCurrency" numeric="true" decimals="2" readonly="true"></soe-textbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <soe-textbox label-key="economy.supplier.payment.paidamount" label-value="ctrl.currencyCode" label-value-in-parentheses="true" model="ctrl.payment.paidAmountCurrency" numeric="true" decimals="2" readonly="true"></soe-textbox>
                            </div>
                            <div class="col-sm-2">
                                <soe-textbox label-key="economy.supplier.payment.remainingamount" label-value="ctrl.currencyCode" label-value-in-parentheses="true" model="ctrl.payment.remainingAmount" numeric="true" decimals="2" readonly="true"></soe-textbox>
                            </div>
                            <div class="col-sm-2" ng-show="ctrl.selectedInvoice.id">
                                <soe-checkbox label-key="economy.supplier.payment.fullypaid" model="ctrl.payment.fullyPaid" inline="true" is-disabled="ctrl.fullyPaidEnabled" on-changing="ctrl.fullyPaidChanged()"></soe-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <soe-datepicker label-key="economy.supplier.payment.paymentdate" model="ctrl.selectedPayDate" required="true" is-disabled="ctrl.locked && !ctrl.isSupportUnlocked && !ctrl.isSupportSuperAdminUnlocked"></soe-datepicker>
                            </div>
                            <div class="col-sm-2">
                                <soe-textbox label-key="economy.supplier.payment.amount" hide-label-value="ctrl.isBaseCurrency" label-value="ctrl.baseCurrencyCode" label-value-in-parentheses="true" model="ctrl.payment.amount" numeric="true" decimals="2" is-disabled="ctrl.locked" on-blur="ctrl.amountChanged('amount')"></soe-textbox>
                            </div>
                            <div class="col-sm-2" ng-show="ctrl.selectedInvoice.id && ctrl.useMatching">
                                <soe-select label-key="economy.supplier.payment.matchcodes" model="ctrl.selectedMatchCode" items="ctrl.matchCodes" options="item as item.name for item in items" is-disabled="!ctrl.enableMatchCode || ctrl.locked" on-changing="ctrl.matchCodeChanging()"></soe-select>
                            </div>
                            <div class="col-sm-2" ng-show="ctrl.selectedInvoice.id && ctrl.useMatching">
                                <soe-checkbox label-key="economy.supplier.payment.usevat" model="ctrl.useVat" inline="true" is-disabled="!ctrl.enableMatchCode || ctrl.locked" on-changing="ctrl.useVatChanging()"></soe-checkbox>
                            </div>
                        </div>
                        <div class="row" data-ng-if="!ctrl.isBaseCurrency">
                            <div class="col-sm-2">
                                <soe-textbox label-key="economy.supplier.payment.amount" label-value="ctrl.currencyCode" label-value-in-parentheses="true" model="ctrl.payment.amountCurrency" numeric="true" decimals="2" is-disabled="ctrl.locked || ctrl.isAfterPayment" on-blur="ctrl.amountChanged('amountCurrency')"></soe-textbox>
                            </div>
                        </div>
                        <div class="row" data-ng-if="!ctrl.isBaseCurrency">
                            <div class="col-sm-2">
                                <soe-textbox label-key="economy.supplier.payment.fee" label-value="ctrl.baseCurrencyCode" label-value-in-parentheses="true" model="ctrl.payment.bankFeeCurrency" numeric="true" decimals="2" is-disabled="ctrl.locked" on-blur="ctrl.amountChanged('bankfee')"></soe-textbox>
                            </div>
                        </div>
                    </div>
                </soe-accordion>
                <soe-accordion label-key="economy.supplier.invoice.accountingrows">
                    <div class="form-group form-group-sm">
                        <div class="row">
                            <div class="col-sm-12" ng-if="ctrl.payment.paymentAccountRows">
                                <accounting-rows is-readonly="ctrl.isLocked && !isSupportUnlocked" 
                                                 container="4" 
                                                 accounting-rows="ctrl.payment.paymentAccountRows" 
                                                 actor-id="ctrl.payment.actorId" 
                                                 currency-id="ctrl.payment.currencyId" 
                                                 base-currency-code="ctrl.baseCurrencyCode" 
                                                 ledger-currency-code="ctrl.ledgerCurrencyCode" 
                                                 transaction-currency-code="ctrl.currencyCode" 
                                                 currency-date="ctrl.currencyDate" 
                                                 transaction-currency-rate="ctrl.currencyRate" 
                                                 is-base-currency="ctrl.isBaseCurrency" 
                                                 is-ledger-currency="ctrl.isLedgerCurrency" 
                                                 on-amount-converted="ctrl.amountConverted(item)" 
                                                 show-sort-buttons="true" 
                                                 show-row-nr="true" 
                                                 show-text="true" 
                                                 show-transaction-currency="ctrl.showTransactionCurrency" 
                                                 show-enterprise-currency="ctrl.showEnterpriseCurrency" 
                                                 show-ledger-currency="ctrl.showLedgerCurrency" 
                                                 show-balance="true" 
                                                 show-amount-summary="true" 
                                                 show-instructions="true" 
                                                 currency-helper="ctrl.currencyHelper"
                                                 parent-guid="ctrl.guid"
                                                 data-ng-if="ctrl.payment"></accounting-rows>
                            </div>
                        </div>
                    </div>
                </soe-accordion>

                <soe-accordion label-key="common.tracing" data-ng-if="!ctrl.isNew">
                    <div class="form-group form-group-sm">
                        <div class="row">
                            <div class="col-sm-12">
                                <trace-rows trace-id="ctrl.paymentId" page-name="'paymentEdit'"></trace-rows>
                            </div>
                        </div>
                    </div>
                </soe-accordion>
            </uib-accordion>
        </div>
        <div class="ngSoeFormFooter">
            <div class="col-sm-6">
                <created-modified model="ctrl.payment"></created-modified>
            </div>
            <div class="col-sm-12">
                <div class="pull-right">
                    <div class="col">
                        <button type="button" class="btn btn-sm btn-default" data-l10n-bind="'core.revoke'" data-l10n-bind-title="'core.revoke'" data-ng-if="ctrl.enableRevoke" data-ng-disabled="ctrl.payment.voucherHasMultiplePayments" ng-click="$event.stopPropagation();ctrl.initRevoke()">
                        </button><button type="button" class="btn btn-sm ngSoeMainButtonInvalid" data-l10n-bind data-l10n-bind-title="'error.unabletosave_tooltip'" data-ng-if="ctrl.payment.voucherHasMultiplePayments" data-ng-show="ctrl.payment.voucherHasMultiplePayments" data-ng-click="$event.stopPropagation();ctrl.showRevokeDisabledMessage()">!</button>
                    </div>
                    <div class="col" data-ng-class="{'no-border-radius-on-specified-last-button' : ctrl.edit.$invalid}">
                        <soe-splitbutton label-key="core.save" options="ctrl.saveFunctions" main-button="true" drop-up="true" last-button-class="last-button" data-ng-if="ctrl.modifyPermission" is-disabled="ctrl.isDisabled()" option-selected="ctrl.executeSaveFunction(option)"></soe-splitbutton>
                    </div>
                    <button type="button" class="btn btn-sm ngSoeMainButtonInvalid no-left-border-radius" data-l10n-bind data-l10n-bind-title="'error.unabletosave_tooltip'" data-ng-if="ctrl.modifyPermission" data-ng-show="ctrl.edit.$invalid" data-ng-click="$event.stopPropagation();ctrl.showValidationError()">!</button>
                </div>
            </div>
        </div>
    </div>
</form>