<form
  [formGroup]="form"
  [class.ms-2]="labelKeyFrom()"
  [class.is-hidden]="hidden()"
  novalidate
  autocomplete="off">
  <soe-daterangepicker
    [labelKeyFrom]="labelKeyFrom()"
    [secondaryLabelKeyFrom]="secondaryLabelKeyFrom()"
    [secondaryLabelBoldFrom]="secondaryLabelBoldFrom()"
    [secondaryLabelParanthesesFrom]="secondaryLabelParanthesesFrom()"
    [secondaryLabelPrefixKeyFrom]="secondaryLabelPrefixKeyFrom()"
    [secondaryLabelPostfixKeyFrom]="secondaryLabelPostfixKeyFrom()"
    [lastInPeriodFrom]="lastInPeriodFrom()"
    [labelKeyTo]="labelKeyTo()"
    [secondaryLabelKeyTo]="secondaryLabelKeyTo()"
    [secondaryLabelBoldTo]="secondaryLabelBoldTo()"
    [secondaryLabelParanthesesTo]="secondaryLabelParanthesesTo()"
    [secondaryLabelPrefixKeyTo]="secondaryLabelPrefixKeyTo()"
    [secondaryLabelPostfixKeyTo]="secondaryLabelPostfixKeyTo()"
    [lastInPeriodTo]="lastInPeriodTo()"
    [inline]="true"
    [width]="width()"
    [view]="view()"
    [hideToday]="hideToday()"
    [hideClear]="hideClear()"
    [showArrows]="showArrows()"
    [hideCalendarButton]="hideCalendarButton()"
    [description]="description()"
    [minDate]="minDate()"
    [maxDate]="maxDate()"
    [separatorDash]="separatorDash()"
    [autoAdjustRange]="autoAdjustRange()"
    [initialDates]="initialDates()"
    [deltaDays]="deltaDays()"
    [offsetDaysOnStep]="offsetDaysOnStep()"
    [manualDisabled]="disabled()"
    (valueChanged)="valueChanged($event)">
  </soe-daterangepicker>
</form>
