<div>
    <soe-panel label-key="time.payroll.vacationgroup.vacationgroup" condensed="true" button-icon="fa-plus" button-label-key="core.newrow" button-hidden="ctrl.readOnly" on-button-click="$event.stopPropagation();ctrl.editGroup();">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 20px"></th>
                    <th scope="col" data-l10n-bind="'common.fromdate'"></th>
                    <th scope="col" data-l10n-bind="'time.payroll.vacationgroup.vacationgroup'"></th>
                    <th scope="col" style="width: 28px"></th>
                    <th scope="col" style="width: 28px"></th>
                </tr>
            </thead>
            <tbody data-ng-repeat="group in ctrl.vacationGroups | orderBy:'-sortableDate'">
                <tr data-ng-class="{'table-selected-row': ctrl.selectedVacationGroup === group}" data-ng-click="ctrl.selectedVacationGroup = group">
                    <td><i class="fas fa-caret-right" data-ng-if="ctrl.selectedVacationGroup === group"></i></td>
                    <td><span>{{group.fromDate | date:'shortDate'}}</span></td>
                    <td><span>{{group.name}}</span></td>
                    <td><span data-l10n-bind data-l10n-bind-title="'core.edit'"><i class="fal fa-pencil iconEdit link" data-ng-if="!ctrl.readOnly" data-ng-click="ctrl.editGroup(group);"></i></span></td>
                    <td><span data-l10n-bind data-l10n-bind-title="'core.delete'"><i class="fal fa-times iconDelete link" data-ng-if="!ctrl.readOnly" data-ng-click="ctrl.deleteGroup(group);"></i></span></td>
                </tr>
            </tbody>
        </table>
    </soe-panel>
</div>
