#VatAccount {
	width: 275px;
}

#AccountSru1, #AccountSru2 {
	width: 164px;
}

#CalcBalance {
	margin: 5px 5px 10px 5px;
}

#CalcAllAccounts {
	vertical-align: middle;
	margin-right: 10px;
}

#CalcAllAccountsLabel {
	vertical-align: middle;
	margin-left: 10px;
}

