#QuickSearchResultDiv {
	position: absolute;
	margin: 10px 0 0 0;
	padding: 3px 5px;
	right: 25%;
	border: 1px solid var(--soe-border-color);
	background: var(--soe-background-color);
	z-index: 950;
	display: none;
}
#QuickSearchResultDiv td {
	vertical-align: top;
}
#QuickSearchResultDiv li {
	list-style-type: none;
}
#QuickSearchResultDiv h6 {
	font-size: 11px;
}
