@use '../../../../../shared/styles/core-styles/fonts.scss';

.shift-row-container {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;

  sp-shift-simple {
    width: 100%;
    max-width: 250px;
  }
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
