@use '../../../../../shared/styles/core-styles/colors.scss' as colors;

.table > thead > tr > th {
  border-bottom: 2px solid black;
}

.disabled-grid-cell-background-color {
  background-color: colors.$soe-disabled-grid-cell-background-color;
}

.grid-cell-text-bold {
  font-weight: bold;
}

.grid-cell-text-padded {
  padding-left: 50px;
}
