.form-check {
  display: flex;
  align-items: center;
  height: 32px;
  margin-top: -2px;

  &.is-hidden {
    display: none;
  }

  soe-label {
    line-height: 1.5rem;
    margin-top: -3px;
    margin-right: 0.5rem;
  }
}
