#formtitle {
	margin-bottom: 6px;
}
	#formtitle input {
		font-size: 14px;
		width: 99%;
		border: 0;
		background-color: var(--soe-background-color);
	}
#formtitle .subtitle {
	font-size: 11px;
	width: 99%;
	border: 0;	
}
