<br />
<div class="ngSoeFormFooter">
    <div class="margin-small-right">
        <div class="row margin-small-top">
            <div class="col-sm-2">
                <soe-label class="pull-right"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label class="pull-right" label-key="common.quantity"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label class="pull-right" label-key="common.price"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label class="pull-right" label-key="common.amount"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label class="pull-right" label-key="common.purchaseprice"></soe-label>
            </div>
            <div class="col-sm-2">
                <soe-label class="pull-right" label-key="common.customer.customer.marginalincome"></soe-label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <soe-label class="pull-right" label-key="core.aggrid.totals.filtered"></soe-label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.filteredQuantity | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.filteredPrice | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.filteredAmount | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.filteredPurchasePrice | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.filteredMarginalIncome | amount}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <soe-label class="pull-right" label-key="core.aggrid.totals.selected"></soe-label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.selectedQuantity | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.selectedPrice | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.selectedAmount | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.selectedPurchasePrice | amount}}</label>
            </div>
            <div class="col-sm-2">
                <label class="pull-right">{{ctrl.selectedMarginalIncome | amount}}</label>
            </div>
        </div>
    </div>
</div>
<br />
