<soe-toolbar
  [recordConfig]="recordConfig"
  [form]="form"
  [itemGroups]="toolbarService.toolbarItemGroups"
  (navigatorRecordChanged)="navigatorRecordChanged($event)">
</soe-toolbar>

@if (form) {
  <form [formGroup]="form" class="soe-edit-form" novalidate autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <soe-textbox
          [labelKey]="'common.name'"
          [maxLength]="100"
          [autoFocus]="true"
          formControlName="name"
          [required]="true">
        </soe-textbox>
      </div>
    </div>

    @if (useAccountsHierarchy()) {
      <div class="row">
        <div class="col-sm-3">
          <soe-select
            [labelKey]="'common.user.attestrole.accounthierarchy'"
            [selectedId]="form.value.accountId"
            [items]="accounts"
            formControlName="accountId">
          </soe-select>
        </div>
      </div>
    }

    <div class="row">
      <div class="col-sm-3">
        <soe-multi-select
          [labelKey]="'time.schedule.schedulecycleruletype.weekday'"
          [items]="dayOfWeeks"
          formControlName="dayOfWeekIds"
          [placeholderKey]="'core.select'"
          [filterButtonCaption]="'core.select'"
          [showSelected]="true"
          [showSelectedItemsInline]="true"
          [sortSelectedItemsBy]="'id'">
        </soe-multi-select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <soe-timerange
          [labelKeyFrom]="'time.schedule.schedulecycleruletype.starttime'"
          [labelKeyTo]="'time.schedule.schedulecycleruletype.stoptime'"
          formControlName="timeRange"
          (valueChanged)="onTimeRangeChanged()">
        </soe-timerange>
      </div>
    </div>

    <soe-edit-footer
      [form]="form"
      [idFieldName]="idFieldName"
      [modifyPermission]="flowHandler.modifyPermission()"
      [inProgress]="performAction.inProgress()"
      (saved)="performSave()"
      (deleted)="triggerDelete()">
    </soe-edit-footer>
  </form>
}
