.searchContainer{padding:0;margin:3px;margin-top:1px;height:auto;max-height:300px;border:solid 1px #ccc;overflow-y:auto;overflow-x:hidden;z-index:9999;}
.searchContainer .item{float:left;font-size:10px;background-color:#fff;cursor:pointer;}
.searchContainer .item .id{float:left;cursor:pointer;margin-right:3px;}
.searchContainer .item .name{float:left;cursor:pointer;}
.searchContainer .selected{background-color:#ccc}
.searchTemplate{display:none;}
.warningDiv {width:16px;height:16px;margin:0;padding:0;}
.warningImg {position:relative;cursor:help;border:0;}