@use '../../../../../../shared/styles/core-styles/colors.scss';
@use '../../../../../../shared/styles/core-styles/fonts.scss';
@use '../../../../../../shared/styles/shared-styles/shared-button-styles.scss';

.filter-container {
  border: 1px solid colors.$soe-border-color;
  padding: 0.5rem;
  border-radius: 0.25rem;

  .filter-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .filter-label {
      font-weight: fonts.$font-weight-bold;
      display: inline-flex;
      align-items: center;
      padding-inline: 0.25rem;
      margin-left: -0.25rem;
    }
  }
}
