@use '../../styles/core-styles/fonts.scss';

.created-modified-container {
  height: 32px;
  line-height: 1rem;

  table {
    margin: 0px;
    font-size: fonts.$soe-font-size-sm;
    td {
      border-top-width: 0px !important;
    }
  }

  .table.table-sm tbody tr td {
    padding: 0rem 0.125rem;
  }
}
