<div>
    <div class="row margin-large-bottom">
        <div class="col-sm-12">
            <span class="infoColor">{{ctrl.currentVacationYear}}</span>
        </div>
    </div>
    <div class="row" data-ng-if="ctrl.modifyPermission">
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-default" data-l10n-bind-title="'time.employee.employee.vacation.edittooltip'" data-ng-disabled="!ctrl.readOnly" data-ng-click="$event.stopPropagation();ctrl.edit()"><i class="fal fa-pencil iconEdit"></i> <span data-l10n-bind="'core.edit'"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.earneddays"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.useddays"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.remainingdays"></soe-label>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-label model="ctrl.remainingHoursLabel"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.employmentrate"></soe-label>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.paiddays"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysPaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysPaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysPaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursPaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.employmentRatePaid" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.paidvacationallowance"></soe-label>
        </div>
        <div class="col-sm-offset-2 col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.paidVacationAllowance" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.paidvacationvariableallowance"></soe-label>
        </div>
        <div class="col-sm-offset-2 col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.paidVacationVariableAllowance" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.unpaiddays"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysUnpaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysUnpaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysUnpaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursUnpaid" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.advance"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysAdvance" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysAdvance" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysAdvance" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursAdvance" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label></soe-label>
            <soe-label label-key="time.employee.employee.vacation.debtinadvance"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" label-value="ctrl.amountLabel" model="ctrl.employeeVacation.debtInAdvanceAmount" numeric="true" decimals="2" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-datepicker hidelabel="true" label-value="ctrl.dueDateLabel" model="ctrl.employeeVacation.debtInAdvanceDueDate" is-readonly="ctrl.readOnly"></soe-datepicker>
        </div>
        <div class="col-sm-2">
            <soe-checkbox label-key="core.delete" model="ctrl.employeeVacation.debtInAdvanceDelete" inline="true" is-readonly="ctrl.readOnly"></soe-checkbox>
        </div>
    </div>
    <div class="row margin-large-top">
        <div class="col-sm-offset-2 col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.saveddays"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.useddays"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.remainingdays"></soe-label>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-label model="ctrl.remainingHoursLabel"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.employmentrate"></soe-label>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label model="ctrl.savedDaysYear1Label"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.savedDaysYear1" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysYear1" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysYear1" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursYear1" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.employmentRateYear1" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top" data-ng-if="ctrl.prelPayedDaysYear1">
        <div class="col-sm-4">
            <soe-label label-key="time.employee.employee.vacation.preliminarypaiddays"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.prelPayedDaysYear1" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="true"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top" data-ng-if="ctrl.showYear2To5">
        <div class="col-sm-2">
            <soe-label model="ctrl.savedDaysYear2Label"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.savedDaysYear2" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysYear2" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysYear2" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursYear2" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.employmentRateYear2" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top" data-ng-if="ctrl.showYear2To5">
        <div class="col-sm-2">
            <soe-label model="ctrl.savedDaysYear3Label"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.savedDaysYear3" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysYear3" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysYear3" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursYear3" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.employmentRateYear3" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top" data-ng-if="ctrl.showYear2To5">
        <div class="col-sm-2">
            <soe-label model="ctrl.savedDaysYear4Label"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.savedDaysYear4" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysYear4" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysYear4" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursYear4" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.employmentRateYear4" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top" data-ng-if="ctrl.showYear2To5">
        <div class="col-sm-2">
            <soe-label model="ctrl.savedDaysYear5Label"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.savedDaysYear5" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysYear5" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysYear5" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursYear5" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.employmentRateYear5" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.saveddaysoverdue"></soe-label>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.savedDaysOverdue" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.usedDaysOverdue" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.remainingDaysOverdue" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.earnedDaysRemainingHoursOverdue" numeric="true" decimals="2" no-decimals-if-integer="true" update-on="blur" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.employeeVacation.employmentRateOverdue" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="ctrl.readOnly"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employee.employee.vacation.preliminaryuseddays"></soe-label>
        </div>
        <div class="col-sm-offset-4 col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.usedDaysPrel" numeric="true" decimals="2" no-decimals-if-integer="true" is-readonly="true" title="{{ctrl.usedDaysPrelDetails}}" button-icon="fa-info-circle" button-class="infoColor" on-button-click="ctrl.showPreliminaryDetails()";></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-2">
            <soe-label label-key="time.employeevacationsummary.remainingdays.sum"></soe-label>
        </div>
        <div class="col-sm-offset-2 col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.usedDaysPrelSum" numeric="true" decimals="2" no-decimals-if-integer="true" input-class="indiscreet" input-class-condition="true" is-readonly="true"></soe-textbox>
        </div>
        <div class="col-sm-2">
            <soe-textbox hidelabel="true" model="ctrl.remainingDaysSum" numeric="true" decimals="2" no-decimals-if-integer="true" input-class="indiscreet" input-class-condition="true" is-readonly="true"></soe-textbox>
        </div>
        <div class="col-sm-2" data-ng-if="ctrl.showHours">
            <soe-textbox hidelabel="true" model="ctrl.earnedDaysRemainingHoursSum" numeric="true" decimals="2" no-decimals-if-integer="true" input-class="indiscreet" input-class-condition="true" is-readonly="true"></soe-textbox>
        </div>
    </div>
    <div class="row margin-small-top">
        <div class="col-sm-4">
            <created-modified model="ctrl.employeeVacation"></created-modified>
        </div>
    </div>
</div>
