    <div>
        <soe-toolbar data-ng-show="!ctrlDirective.isDisabled" class="margin-small-top" buttons="ctrlDirective.toolbar.buttonGroups"></soe-toolbar>
        <div id="budget-grid" ag-grid="ctrlDirective.gridAg.options.gridOptions" class="ag-theme-balham" height-checker style="height: 500px; width: 100%;" prevent-enter></div>
        <div id="sum-footer-grid" class="ag-theme-balham" style="height: 30px; width: 100%;" prevent-enter></div>
        <div id="totals-grid" class="ag-theme-balham" style="height: 25px; width: 100%;" prevent-enter></div>
    </div>
