.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.highlight {
  background-color: var(
    --ag-range-selection-background-color-1,
    var(--ag-range-selection-background-color, rgba(0, 145, 234, 0.2))
  );
}
