<div class="expression-container">
    <soe-label label-key="common.formulabuilder.expressions"></soe-label>
    <ul class="widget-list expressions">
        <li data-ng-repeat="widget in ctrl.expWidgets">
            <widget widget="widget"></widget>
        </li>
    </ul>
    <soe-label label-key="common.formulabuilder.operators"></soe-label>
    <ul class="widget-list operators">
        <li data-ng-repeat="widget in ctrl.opWidgets">
            <widget widget="widget"></widget>
        </li>
    </ul>
    <div class="info">
        <span class="smallFont" data-l10n-bind="'common.formulabuilder.draganddropinfo'"></span>
    </div>
</div>
