<div class="messagebox">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="ctrl.cancel()">&times;</button>
        <h6 class="modal-title" data-l10n-bind="'time.schedule.planning.assignemployeepost.title'"></h6>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <span class="largeFont">{{ctrl.headingRow}}</span>
            </div>
        </div>
        <div class="row margin-large-top">
            <div class="col-sm-12">
                <div class="info">
                    <span data-ng-bind-html="::ctrl.infoStr"></span>
                </div>
            </div>
        </div>
        <div class="row margin-large-top" data-ng-if="ctrl.hasDifferentWorkTime">
            <div class="col-sm-12">
                <div class="warning">
                    <span data-ng-bind-html="ctrl.warningStr"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-default" data-l10n-bind="'core.cancel'" data-l10n-bind-title="'core.cancel'" data-ng-click="$event.stopPropagation();ctrl.cancel()"></button>
            <button type="button" class="btn btn-sm ngSoeMainButton" data-l10n-bind="'core.save'" data-l10n-bind-title="'core.save'" data-ng-click="$event.stopPropagation();ctrl.save()"></button>
        </div>
    </div>
</div>
