<div class="messagebox">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="ctrl.cancel()">&times;</button>
        <h6 class="modal-title" data-l10n-bind="'core.add'" data-ng-if="ctrl.isNew"></h6>
        <h6 class="modal-title" data-l10n-bind="'core.edit'" data-ng-if="!ctrl.isNew"></h6>
    </div>
    <div class="modal-body">
        <div class="row" data-ng-if="ctrl.payrollLevels.length == 0">
            <div class="col-sm-6">
                <soe-datepicker label-key="common.fromdate" model="ctrl.period.fromDate" auto-focus="true"></soe-datepicker>
            </div>
            <div class="col-sm-6">
                <soe-textbox label-key="common.amount" model="ctrl.period.amount" numeric="true" decimals="2"></soe-textbox>
            </div>
        </div>
        <div class="row" data-ng-if="ctrl.payrollLevels.length > 0">
            <div class="col-sm-4">
                <soe-datepicker label-key="common.fromdate" model="ctrl.period.fromDate" auto-focus="true"></soe-datepicker>
            </div>
            <div class="col-sm-4">
                <soe-select label-key="time.employee.payrolllevel.payrolllevel" model="ctrl.period.payrollLevelId" items="ctrl.payrollLevels" options="item.payrollLevelId as item.nameAndDesc for item in items"  on-changing="ctrl.payrollLevelChanged(item)"></soe-select>
            </div>
            <div class="col-sm-4">
                <soe-textbox label-key="common.amount" model="ctrl.period.amount" numeric="true" decimals="2"></soe-textbox>
            </div>
        </div>
        <div class="row" data-ng-if="ctrl.payrollLevels.length > 0">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                <soe-textbox label-key="time.employee.employmentpricetype.payrollgroupamount" model="ctrl.payrollGroupAmount" numeric="true" decimals="2" readonly="true"></soe-textbox>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-l10n-bind="'core.cancel'" data-ng-click="ctrl.cancel()"></button>
        <button type="button" class="btn btn-primary" data-l10n-bind="'core.ok'" data-ng-click="ctrl.ok()"></button>
    </div>
</div>