@use '../../../styles/core-styles/colors.scss';
@use '../../../styles/core-styles/fonts.scss';
@use '../../../styles/core-styles/variables.scss';

.soe-multi-tab-wrapper__selection {
  left: 439.156px;
  top: 64px;
  position: fixed;
  background: colors.$soe-background-color;
  margin: 0;
  margin-top: 31px; // 31px is the height of a tab
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0;
  list-style: none;
  border-radius: variables.$border-radius;
  overflow: hidden;
  border: 1px solid colors.$soe-border-color;
  z-index: 2;

  li {
    padding: 0.25rem 0.5rem;
    font-size: fonts.$soe-font-size-md;

    &:hover {
      background-color: colors.$soe-button-hover-background-color;
      cursor: pointer;
    }
  }
}
