<form name="ctrl.edit" class="ngSoeForm" novalidate autocomplete="off" data-form-state="ctrl.dirtyHandler.isDirty" confirm-on-exit>
    
    <soe-progressbar is-busy="ctrl.progress.progressBusy" message="ctrl.progress.progressMessage"></soe-progressbar>

    <div data-ng-if="!ctrl.progress.progressBusy">            
        <soe-panel label-key="manage.signing.state.state">
            <div class="form-group form-group-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <soe-select label-key="common.type" model="ctrl.signingState.entity" items="ctrl.attestEntities" options="item.id as item.name for item in items"></soe-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-textbox label-key="common.name" model="ctrl.signingState.name" required="true" maxlength="100" auto-focus="true"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-textbox label-key="common.description" model="ctrl.signingState.description"></soe-textbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <soe-textbox label-key="common.sort" model="ctrl.signingState.sort"></soe-textbox>
                    </div>
                </div>
                <div class="row margin-large-top">
                    <div class="col-sm-2">
                        <soe-checkbox label-key="manage.attest.state.initialstate" model="ctrl.signingState.initial"></soe-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <soe-label></soe-label>
                        <soe-instruction label-key="manage.attest.state.initialstate.info"></soe-instruction>
                    </div>
                </div>                
                <div class="row margin-large-top">
                    <div class="col-sm-2">
                        <soe-checkbox label-key="manage.attest.state.closedstate" model="ctrl.signingState.closed"></soe-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <soe-colorpicker label-key="common.color" model="ctrl.signingState.color"></soe-colorpicker>
                    </div>
                </div>
            </div>
        </soe-panel>

        <div class="ngSoeFormFooter">
            <div class="col-sm-6">
                <created-modified model="ctrl.signingState"></created-modified>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <div class="col" data-ng-include src="ctrl.deleteButtonTemplateUrl" />
                    <div class="col" data-ng-include src="ctrl.saveButtonTemplateUrl" />
                </div>
            </div>
        </div>

    </div>
</form>
