@use '../right-menu-styles.scss';

#information-menu-toggle {
  fa-icon {
    margin-left: 11px;
  }

  fa-layers {
    margin-top: 5px;
    margin-left: 4px;
  }

  fa-layers-counter {
    position: absolute;
    top: -8px;
    left: 16px;
  }
}
