<form class="form-inline">
    <div>
        <div class="form-group form-group-sm">
            <soe-checkbox label-key="economy.accounting.accountdistribution.showopen" model="ctrl.loadOpen"></soe-checkbox>
        </div>
        <div class="form-group form-group-sm">
            <soe-checkbox label-key="economy.accounting.accountdistribution.showclosed" model="ctrl.loadClosed"></soe-checkbox>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-sm btn-default" data-l10n-bind="'core.search'" data-l10n-bind-title="'core.search'" data-ng-click="ctrl.search()" data-ng-if="ctrl.showSearchButton"></button>
        </div>
    </div>
</form>