@use '../../../../styles/core-styles/colors.scss';

.import-dynamic {
  .mat-step-header {
    pointer-events: none !important;
  }

  .mat-horizontal-stepper-header-container {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid colors.$soe-border-color;
    margin-bottom: 0.5rem;
  }
}
