<div class="p-3">
  <form [formGroup]="formSetPurchaseDate" novalidate autocomplete="off">
    <div class="row">
      <div class="col-sm-4">
        <soe-datepicker
          [labelKey]="dateLabel"
          (valueChanged)="changedPurchaseDate($event)"
          formControlName="purchaseDate"></soe-datepicker>
      </div>
    </div>
    <div class="row dialog-row-top-padding">
      <div class="col-sm-12">
        @if (flowHandler.allowFetchGrid()) {
          <soe-grid-wrapper
            [rows]="purchaseRowData"
            [parentGuid]="guid()"
            [noMargin]="true"
            [height]="300">
          </soe-grid-wrapper>
        }
      </div>
    </div>
  </form>
</div>
